# #COMP6234

stpe1: clean data
for chart 2

In [22]:
import pandas as pd
import re

In [2]:
monster_data = pd.read_csv('MONSTER.csv',usecols=[8,11,12])
monster_data

,location,salary,sector
0,"Madison, WI 53702",NaN,IT/Software Development
1,"Madison, WI 53708",NaN,NaN
2,DePuy Synthes Companies is a member of Johnson...,NaN,NaN
3,"Dixon, CA",NaN,Experienced (Non-Manager)
4,"Camphill, PA",NaN,Project/Program Management
5,"Charlottesville, VA",NaN,Experienced (Non-Manager)
6,Contact name Tony Zerio,NaN,NaN
7,"Austin, TX 73301",NaN,Experienced (Non-Manager)
8,"Austin, TX 78746",NaN,Customer Support/Client Care
9,"Chesterfield, MO",NaN,NaN
10,"Berryville, VA 22611",NaN,Customer Support/Client Care
11,"Columbus, IN",NaN,Customer Support/Client Care
12,"Boston, MA",NaN,NaN
13,"Houston, TX 77098",9.00 - 13.00 $ /hour,Entry Level
14,"Houston, TX","80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
15,"Des Moines, IA 50317",NaN,NaN
16,Wadesboro 28170,NaN,Civil & Structural EngineeringGeneral/Other: E...
17,"Denver, CO",NaN,Installation/Maintenance/Repair
18,"Natick, MA",NaN,Experienced (Non-Manager)
19,"Carter Lake, IA 51510","60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
20,"Houston, TX",NaN,Business/Strategic Management
21,"Houston, TX 77027",NaN,Accounting/Finance/Insurance
22,La Porte 46350,NaN,General/Other: Engineering
23,"Denver, CO 80215",Excellent Pay and Incentives,NaN
24,"Houston, TX",NaN,NaN
25,"San Carlos, CA 94070",NaN,NaN
26,"Denver, CO",NaN,NaN
27,"Houston, TX 77040",NaN,Customer Support/Client Care
28,"Houston, TX",NaN,NaN
29,"Sr. Process Engineer, Manufacturing","70,000.00 - 100,000.00 $ /year",Engineering
...,...,...,...
21970,"Cincinnati, OH",NaN,NaN
21971,"West Chester, OH","75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
21972,"Cincinnati, OH",NaN,Food Services/Hospitality
21973,"Cincinnati, OH 45202","70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
21974,"Chicago, IL 60603",NaN,Customer Support/Client Care
21975,"Cincinnati, OH 45202",NaN,Marketing/Product
21976,"Cincinnati, OH","40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
21977,"Cincinnati, OH 45202",NaN,Experienced (Non-Manager)
21978,"Cincinnati, OH 45226",NaN,NaN
21979,"Cincinnati, OH 45202",NaN,NaN
21980,"Cincinnati, OH",NaN,NaN
21981,"West Chester, OH",NaN,Experienced (Non-Manager)
21982,"Chicago, IL 60603","70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
21983,Location:,NaN,Installation/Maintenance/Repair
21984,"Cincinnati, OH 45214",NaN,NaN
21985,"Cincinnati, OH","negotiable salary / bonus, car, laptop, excell...","Executive (SVP, VP, Department Head, etc)"
21986,"Chicago, IL 60601",NaN,Manager (Manager/Supervisor of Staff)
21987,"Chicago, IL 60602","$80,000.00+ /year",Experienced (Non-Manager)
21988,"Cincinnati, OH 45249",NaN,Entry Level
21989,"Chicago, IL 60603",NaN,Accounting/Finance/Insurance
21990,"Chicago, IL 60603",NaN,Business/Strategic Management
21991,"Cincinnati, OH 45236",NaN,Medical/Health
21992,"Cincinnati, OH 45237",NaN,Field SalesGeneral/Other: Sales/Business Devel...
21993,"Chicago, IL 60603",NaN,Customer Support/Client Care
21994,"Cincinnati, OH 45202",NaN,Entry Level
21995,"Cincinnati, OH","120,000.00 - 160,000.00 $ /yearbonus",NaN
21996,"Cincinnati, OH 45236","45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
21997,"Chicago, IL 60602",NaN,NaN
21998,"Chicago, IL 60609",25.00 - 28.00 $ /hour,Installation/Maintenance/Repair
21999,"Cincinnati, OH","40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager)

In [3]:
s1 = monster_data.dropna(how='any')['location']
s2 = monster_data.dropna(how='any')['salary']
s3 = monster_data.dropna(how='any')['sector']

In [4]:
location = s1.str.split(',',expand=True)[1]
location

13             TX 77098
14                   TX
19             IA 51510
29        Manufacturing
32             IL 60502
36        Field Service
41                   WV
42             CO 80237
58             CA 94551
61                   TX
64             NJ 07712
68             CO 80216
83             PA 18017
92             TX 77040
100                  CO
111            TX 77002
117            CA 95811
121            OH 44092
132                  FL
134                  CO
136                None
146                  TX
154            CO 80202
166            CO 80112
179            OH 44515
182                  TX
183            IN 46706
190                  TX
201                  FL
204            CO 80202
              ...
21882          OH 45242
21885          IL 60603
21897          IL 60602
21902          IL 60601
21905                OH
21906          IL 60606
21907          OH 45202
21909          IL 60602
21910                OH
21912          OH 45201
21913          OH 45246
21916          OH 45242
21917          OH 45242
21919          OH 45243
21925          OH 45202
21927          IL 60602
21929          OH 45211
21941                OH
21943          OH 45246
21948          OH 45202
21960          IL 60603
21971                OH
21973          OH 45202
21976                OH
21982          IL 60603
21985                OH
21987          IL 60602
21996          OH 45236
21998          IL 60609
21999                OH
Name: 1, Length: 2612, dtype: object

In [7]:
first = pd.DataFrame({'location': location,
                      'salary': s2,
                      'sector': s3    
})
first

,location,salary,sector
13,TX 77098,9.00 - 13.00 $ /hour,Entry Level
14,TX,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
19,IA 51510,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
29,Manufacturing,"70,000.00 - 100,000.00 $ /year",Engineering
32,IL 60502,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
36,Field Service,"68,000.00 - 72,000.00 $ /year",Engineering
41,WV,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
42,CO 80237,Up to $32000.00,Experienced (Non-Manager)
58,CA 94551,"Salary, plus commission",Experienced (Non-Manager)
61,TX,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
64,NJ 07712,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
68,CO 80216,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
83,PA 18017,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
92,TX 77040,"bonus, 401K matching, medical, vacation",Experienced (Non-Manager)
100,CO,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
111,TX 77002,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
117,CA 95811,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
121,OH 44092,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
132,FL,"$50,000.00+ /year",Editorial/Writing
134,CO,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
136,None,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
146,TX,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
154,CO 80202,Up to $45000.00,Experienced (Non-Manager)
166,CO 80112,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
179,OH 44515,Negotiable based on experience,Manager (Manager/Supervisor of Staff)
182,TX,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
183,IN 46706,Competitive Wages,Experienced (Non-Manager)
190,TX,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
201,FL,12.00 - 12.00 $ /hour,Customer Support/Client Care
204,CO 80202,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
...,...,...,...
21882,OH 45242,"45,000.00 - 50,000.00 $ /year",Entry Level
21885,IL 60603,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
21897,IL 60602,"$32,000.00+ /year",Experienced (Non-Manager)
21902,IL 60601,Up to $35000.00,Experienced (Non-Manager)
21905,OH,"0.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
21906,IL 60606,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
21907,OH 45202,"17,000.00 - 19,000.00 $ /year",Entry Level
21909,IL 60602,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
21910,OH,"30,000.00 - 40,000.00 $ /year+ Commission",Entry Level
21912,OH 45201,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
21913,OH 45246,50.00 - 55.00 $ /hour,IT/Software Development
21916,OH 45242,"75,000.00 - 95,000.00 $ /year",IT/Software Development
21917,OH 45242,Competitive salary and benefits package,Experienced (Non-Manager)
21919,OH 45243,"27,000.00 - 29,000.00 $ /yearBonus based on co...",Experienced (Non-Manager)
21925,OH 45202,$250.00+ /week7-9% commisson depending on sale...,Student (High School)
21927,IL 60602,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance
21929,OH 45211,Commensurate with Experience,Entry Level
21941,OH,"negotiable salary / bonus, car, laptop, excell...","Executive (SVP, VP, Department Head, etc)"
21943,OH 45246,DOE - Salary,Manager (Manager/Supervisor of Staff)
21948,OH 45202,"55,000.00 - 60,000.00 $ /yearFull Benefits Pac...",Experienced (Non-Manager)
21960,IL 60603,"75,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
21971,OH,"75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
21973,OH 45202,"70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
21976,OH,"40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
21982,IL 60603,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
21985,OH,"negotiable salary / bonus, car, laptop, excell...","Executive (SVP, VP, Department Head, etc)"
21987,IL 60602,"$80,000.00+ /year",Experienced (Non-Manager)
21996,OH 45236,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
21998,IL 60609,25.00 - 28.00 $ /hour,Installation/Maintenance/Repair
21999,OH,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager)

In [8]:
pattern = '[\$]'
#second = []
first.s1 = []
first.s2 = []
first.s3 = []
for n in range(0,2611):
    kk=first.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s1.append(kk[0])
        first.s2.append(kk[1])
        first.s3.append(kk[2])
second = pd.DataFrame({'location': first.s1,
                      'salary': first.s2,
                      'sector': first.s3    
})
second

,location,salary,sector
0,TX 77098,9.00 - 13.00 $ /hour,Entry Level
1,TX,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
2,IA 51510,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
3,Manufacturing,"70,000.00 - 100,000.00 $ /year",Engineering
4,IL 60502,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
5,Field Service,"68,000.00 - 72,000.00 $ /year",Engineering
6,WV,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
7,CO 80237,Up to $32000.00,Experienced (Non-Manager)
8,TX,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
9,NJ 07712,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
10,CO 80216,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
11,PA 18017,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
12,CO,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
13,TX 77002,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
14,CA 95811,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
15,OH 44092,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
16,FL,"$50,000.00+ /year",Editorial/Writing
17,CO,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
18,None,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
19,TX,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
20,CO 80202,Up to $45000.00,Experienced (Non-Manager)
21,CO 80112,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
22,TX,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
23,TX,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
24,FL,12.00 - 12.00 $ /hour,Customer Support/Client Care
25,CO 80202,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
26,PA,"$40,000.00+ /year",Customer Support/Client Care
27,CO 80203,60.00 - 82.00 $ /hour,IT/Software Development
28,CO 80202,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
29,None,"69,000.00 - 101,000.00 $ /year",Engineering
...,...,...,...
2185,IL 60606,"110,000.00 - 150,000.00 $ /year",Experienced (Non-Manager)
2186,OH,"48,000.00 - 52,000.00 $ /year",Experienced (Non-Manager)
2187,OH 45202,"55,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)
2188,IL 60601,"70,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
2189,OH,23.25 - 25.21 $ /hour,Engineering
2190,OH,"70,000.00 - 75,000.00 $ /year",Manager (Manager/Supervisor of Staff)
2191,OH 45242,"45,000.00 - 50,000.00 $ /year",Entry Level
2192,IL 60603,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
2193,IL 60602,"$32,000.00+ /year",Experienced (Non-Manager)
2194,IL 60601,Up to $35000.00,Experienced (Non-Manager)
2195,OH,"0.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
2196,IL 60606,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
2197,OH 45202,"17,000.00 - 19,000.00 $ /year",Entry Level
2198,IL 60602,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
2199,OH,"30,000.00 - 40,000.00 $ /year+ Commission",Entry Level
2200,OH 45201,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
2201,OH 45246,50.00 - 55.00 $ /hour,IT/Software Development
2202,OH 45242,"75,000.00 - 95,000.00 $ /year",IT/Software Development
2203,OH 45243,"27,000.00 - 29,000.00 $ /yearBonus based on co...",Experienced (Non-Manager)
2204,OH 45202,$250.00+ /week7-9% commisson depending on sale...,Student (High School)
2205,IL 60602,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance
2206,OH 45202,"55,000.00 - 60,000.00 $ /yearFull Benefits Pac...",Experienced (Non-Manager)
2207,IL 60603,"75,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
2208,OH,"75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
2209,OH 45202,"70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
2210,OH,"40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
2211,IL 60603,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
2212,IL 60602,"$80,000.00+ /year",Experienced (Non-Manager)
2213,OH 45236,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
2214,IL 60609,25.00 - 28.00 $ /hour,Installation/Maintenance/Repair

In [9]:
pattern = '[-]'
#second = []
first.s4 = []
first.s5 = []
first.s6 = []
for n in range(0,2214):
    kk=second.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s4.append(kk[0])
        first.s5.append(kk[1])
        first.s6.append(kk[2])
second_1 = pd.DataFrame({'location': first.s4,
                      'salary': first.s5,
                      'sector': first.s6    
})
second_1

,location,salary,sector
0,TX 77098,9.00 - 13.00 $ /hour,Entry Level
1,TX,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
2,IA 51510,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
3,Manufacturing,"70,000.00 - 100,000.00 $ /year",Engineering
4,IL 60502,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
5,Field Service,"68,000.00 - 72,000.00 $ /year",Engineering
6,WV,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
7,TX,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
8,NJ 07712,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
9,CO 80216,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
10,PA 18017,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
11,CO,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
12,TX 77002,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
13,CA 95811,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
14,OH 44092,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
15,CO,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
16,None,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
17,TX,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
18,CO 80112,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
19,TX,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
20,TX,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
21,FL,12.00 - 12.00 $ /hour,Customer Support/Client Care
22,CO 80202,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
23,CO 80203,60.00 - 82.00 $ /hour,IT/Software Development
24,CO 80202,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
25,None,"69,000.00 - 101,000.00 $ /year",Engineering
26,CA,15.00 - 19.00 $ /hour,Administrative/Clerical
27,MN 55344,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
28,OH 45220,13.00 - 16.00 $ /year,Administrative/Clerical
29,General Managers,"25,000.00 - 57,000.00 $ /year",Food Services/Hospitality
...,...,...,...
1964,OH 45202,"65,000.00 - 70,000.00 $ /year",Experienced (Non-Manager)
1965,OH 45202,"70,000.00 - 110,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1966,KY 41017,15.00 - 16.00 $ /hour,Experienced (Non-Manager)
1967,OH,11.75 - 12.75 $ /hourMedical/Dental,Entry Level
1968,IL 60606,"110,000.00 - 150,000.00 $ /year",Experienced (Non-Manager)
1969,OH,"48,000.00 - 52,000.00 $ /year",Experienced (Non-Manager)
1970,OH 45202,"55,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)
1971,IL 60601,"70,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
1972,OH,23.25 - 25.21 $ /hour,Engineering
1973,OH,"70,000.00 - 75,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1974,OH 45242,"45,000.00 - 50,000.00 $ /year",Entry Level
1975,IL 60603,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
1976,OH,"0.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1977,IL 60606,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
1978,OH 45202,"17,000.00 - 19,000.00 $ /year",Entry Level
1979,IL 60602,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
1980,OH,"30,000.00 - 40,000.00 $ /year+ Commission",Entry Level
1981,OH 45201,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
1982,OH 45246,50.00 - 55.00 $ /hour,IT/Software Development
1983,OH 45242,"75,000.00 - 95,000.00 $ /year",IT/Software Development
1984,OH 45243,"27,000.00 - 29,000.00 $ /yearBonus based on co...",Experienced (Non-Manager)
1985,OH 45202,$250.00+ /week7-9% commisson depending on sale...,Student (High School)
1986,IL 60602,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance
1987,OH 45202,"55,000.00 - 60,000.00 $ /yearFull Benefits Pac...",Experienced (Non-Manager)
1988,IL 60603,"75,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
1989,OH,"75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
1990,OH 45202,"70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
1991,OH,"40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
1992,IL 60603,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
1993,OH 45236,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)

In [37]:
rule=re.compile(r'[^a-zA-z]')
#second = []
first.s4 = []
first.s5 = []
first.s6 = []
for n in range(0,1993):
    kk=second.iloc[n,0:3]
    uu = str(kk[0])
    result = rule.sub(' ',uu).strip()
    if len(result)>2:
        result = ''
    first.s4.append(result)
    first.s5.append(kk[1])
    first.s6.append(kk[2])
second_1 = pd.DataFrame({'location': first.s4,
                      'salary': first.s5,
                      'sector': first.s6    
})
second_1

,location,salary,sector
0,,9.00 - 13.00 $ /hour,Entry Level
1,,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
2,,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
3,,"70,000.00 - 100,000.00 $ /year",Engineering
4,,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
5,,"68,000.00 - 72,000.00 $ /year",Engineering
6,,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
7,,Up to $32000.00,Experienced (Non-Manager)
8,,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
9,,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
10,,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
11,,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
12,,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
13,,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
14,,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
15,,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
16,,"$50,000.00+ /year",Editorial/Writing
17,,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
18,,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
19,TX,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
20,CO,Up to $45000.00,Experienced (Non-Manager)
21,CO,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
22,TX,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
23,TX,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
24,FL,12.00 - 12.00 $ /hour,Customer Support/Client Care
25,CO,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
26,PA,"$40,000.00+ /year",Customer Support/Client Care
27,CO,60.00 - 82.00 $ /hour,IT/Software Development
28,CO,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
29,,"69,000.00 - 101,000.00 $ /year",Engineering
...,...,...,...
1963,OH,"$18,500.00+ /year20 Hours a week!",Manager (Manager/Supervisor of Staff)
1964,FL,"45,000.00 - 70,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1965,FL,"40,000.00 - 45,000.00 $ /yearBase plus monthly...",Manager (Manager/Supervisor of Staff)
1966,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1967,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1968,TX,"30,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1969,OH,"45,000.00 - 65,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1970,FL,12.00 - 16.00 $ /hour,Experienced (Non-Manager)
1971,CA,"60,220.00 - 60,220.00 $ /year",Experienced (Non-Manager)
1972,FL,"40,000.00 - 50,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1973,MI,"35,000.00 - 40,000.00 $ /yearBonuses",Manager (Manager/Supervisor of Staff)
1974,LA,"30,000.00 - 65,000.00 $ /year",Food Services/Hospitality
1975,CA,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1976,LA,"30,000.00 - 60,000.00 $ /year",Food Services/Hospitality
1977,FL,$8.05+ /hour,Entry Level
1978,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1979,CA,"40,000.00 - 50,000.00 $ /yearplus aggressive m...",Manager (Manager/Supervisor of Staff)
1980,RI,"$45,000.00+ /yearbonus,incentive based",Manager (Manager/Supervisor of Staff)
1981,PA,"45,000.00 - 48,000.00 $ /year2500.00 sign on b...",Experienced (Non-Manager)
1982,IA,$20.00+ /hourDOE Generous Benefits,Experienced (Non-Manager)
1983,TX,"33,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1984,IN,"35,000.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1985,NC,"40,000.00 - 52,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1986,CA,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1987,NV,"45,000.00 - 60,000.00 $ /year",Food Services/Hospitality
1988,CA,"30,000.00 - 52,000.00 $ /yearHourly rate or sa...",Experienced (Non-Manager)
1989,LA,"45,000.00 - 60,000.00 $ /yearBonus potential u...",Manager (Manager/Supervisor of Staff)
1990,IL,15.00 - 15.96 $ /hour,Medical/Health
1991,OH,"45,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)
1992,FL,"50,000.00 - 65,000.00 $ /yearcommiserated with...",Manager (Manager/Supervisor of Staff)

In [39]:
second_1.to_csv('clean1.csv')

In [40]:
clean1 = pd.read_csv('clean1.csv',usecols=[1,2,3])
clean1

,location,salary,sector
0,NaN,9.00 - 13.00 $ /hour,Entry Level
1,NaN,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
2,NaN,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
3,NaN,"70,000.00 - 100,000.00 $ /year",Engineering
4,NaN,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
5,NaN,"68,000.00 - 72,000.00 $ /year",Engineering
6,NaN,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
7,NaN,Up to $32000.00,Experienced (Non-Manager)
8,NaN,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
9,NaN,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
10,NaN,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
11,NaN,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
12,NaN,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
13,NaN,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
14,NaN,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
15,NaN,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
16,NaN,"$50,000.00+ /year",Editorial/Writing
17,NaN,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
18,NaN,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
19,TX,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
20,CO,Up to $45000.00,Experienced (Non-Manager)
21,CO,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
22,TX,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
23,TX,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
24,FL,12.00 - 12.00 $ /hour,Customer Support/Client Care
25,CO,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
26,PA,"$40,000.00+ /year",Customer Support/Client Care
27,CO,60.00 - 82.00 $ /hour,IT/Software Development
28,CO,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
29,NaN,"69,000.00 - 101,000.00 $ /year",Engineering
...,...,...,...
1963,OH,"$18,500.00+ /year20 Hours a week!",Manager (Manager/Supervisor of Staff)
1964,FL,"45,000.00 - 70,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1965,FL,"40,000.00 - 45,000.00 $ /yearBase plus monthly...",Manager (Manager/Supervisor of Staff)
1966,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1967,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1968,TX,"30,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1969,OH,"45,000.00 - 65,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1970,FL,12.00 - 16.00 $ /hour,Experienced (Non-Manager)
1971,CA,"60,220.00 - 60,220.00 $ /year",Experienced (Non-Manager)
1972,FL,"40,000.00 - 50,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1973,MI,"35,000.00 - 40,000.00 $ /yearBonuses",Manager (Manager/Supervisor of Staff)
1974,LA,"30,000.00 - 65,000.00 $ /year?",Food Services/Hospitality
1975,CA,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1976,LA,"30,000.00 - 60,000.00 $ /year?",Food Services/Hospitality
1977,FL,$8.05+ /hour,Entry Level
1978,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1979,CA,"40,000.00 - 50,000.00 $ /yearplus aggressive m...",Manager (Manager/Supervisor of Staff)
1980,RI,"$45,000.00+ /yearbonus,incentive based",Manager (Manager/Supervisor of Staff)
1981,PA,"45,000.00 - 48,000.00 $ /year2500.00 sign on b...",Experienced (Non-Manager)
1982,IA,$20.00+ /hourDOE Generous Benefits,Experienced (Non-Manager)
1983,TX,"33,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1984,IN,"35,000.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1985,NC,"40,000.00 - 52,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1986,CA,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1987,NV,"45,000.00 - 60,000.00 $ /year",Food Services/Hospitality
1988,CA,"30,000.00 - 52,000.00 $ /yearHourly rate or sa...",Experienced (Non-Manager)
1989,LA,"45,000.00 - 60,000.00 $ /yearBonus potential u...",Manager (Manager/Supervisor of Staff)
1990,IL,15.00 - 15.96 $ /hour,Medical/Health
1991,OH,"45,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)
1992,FL,"50,000.00 - 65,000.00 $ /yearcommiserated with...",Manager (Manager/Supervisor of Staff)

In [46]:
clean2 = clean1.dropna()
clean2

,location,salary,sector
19,TX,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
20,CO,Up to $45000.00,Experienced (Non-Manager)
21,CO,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
22,TX,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
23,TX,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
24,FL,12.00 - 12.00 $ /hour,Customer Support/Client Care
25,CO,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
26,PA,"$40,000.00+ /year",Customer Support/Client Care
27,CO,60.00 - 82.00 $ /hour,IT/Software Development
28,CO,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
30,CA,15.00 - 19.00 $ /hour,Administrative/Clerical
31,MN,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
32,OH,13.00 - 16.00 $ /year,Administrative/Clerical
34,MN,17.00 - 17.00 $ /hour,Business/Strategic Management
35,NV,"85,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
36,NV,19.00 - 19.00 $ /hour,Experienced (Non-Manager)
37,CA,40.00 - 40.00 $ /hour,Experienced (Non-Manager)
38,NV,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
39,NV,"50,000.00 - 60,000.00 $ /year",Accounting/Finance/Insurance
40,CA,0.00 - 20.00 $ /hour,Accounting/Finance/Insurance
41,MA,16.00 - 23.00 $ /hour,Accounting/Finance/Insurance
42,MI,15.00 - 18.00 $ /hour,Accounting/Finance/Insurance
43,FL,10.00 - 11.00 $ /year,Food Services/Hospitality
44,MA,"0.00 - 90,000.00 $ /year",Accounting/Finance/Insurance
45,MI,20.00 - 26.00 $ /hour,Accounting/Finance/Insurance
46,TX,"$30,000.00+ /yearplus benefits",Entry Level
47,NJ,12.00 - 14.00 $ /hour,Experienced (Non-Manager)
48,FL,11.85 - 11.85 $ /hour,Security/Protective Services
49,DE,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
50,CA,$10.87+ /hour,Entry Level
...,...,...,...
1963,OH,"$18,500.00+ /year20 Hours a week!",Manager (Manager/Supervisor of Staff)
1964,FL,"45,000.00 - 70,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1965,FL,"40,000.00 - 45,000.00 $ /yearBase plus monthly...",Manager (Manager/Supervisor of Staff)
1966,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1967,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1968,TX,"30,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1969,OH,"45,000.00 - 65,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1970,FL,12.00 - 16.00 $ /hour,Experienced (Non-Manager)
1971,CA,"60,220.00 - 60,220.00 $ /year",Experienced (Non-Manager)
1972,FL,"40,000.00 - 50,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1973,MI,"35,000.00 - 40,000.00 $ /yearBonuses",Manager (Manager/Supervisor of Staff)
1974,LA,"30,000.00 - 65,000.00 $ /year?",Food Services/Hospitality
1975,CA,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1976,LA,"30,000.00 - 60,000.00 $ /year?",Food Services/Hospitality
1977,FL,$8.05+ /hour,Entry Level
1978,WI,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1979,CA,"40,000.00 - 50,000.00 $ /yearplus aggressive m...",Manager (Manager/Supervisor of Staff)
1980,RI,"$45,000.00+ /yearbonus,incentive based",Manager (Manager/Supervisor of Staff)
1981,PA,"45,000.00 - 48,000.00 $ /year2500.00 sign on b...",Experienced (Non-Manager)
1982,IA,$20.00+ /hourDOE Generous Benefits,Experienced (Non-Manager)
1983,TX,"33,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1984,IN,"35,000.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1985,NC,"40,000.00 - 52,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1986,CA,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1987,NV,"45,000.00 - 60,000.00 $ /year",Food Services/Hospitality
1988,CA,"30,000.00 - 52,000.00 $ /yearHourly rate or sa...",Experienced (Non-Manager)
1989,LA,"45,000.00 - 60,000.00 $ /yearBonus potential u...",Manager (Manager/Supervisor of Staff)
1990,IL,15.00 - 15.96 $ /hour,Medical/Health
1991,OH,"45,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)
1992,FL,"50,000.00 - 65,000.00 $ /yearcommiserated with...",Manager (Manager/Supervisor of Staff)

In [58]:
first.s4 = []
first.s5 = []
first.s6 = []
for n in range(0,1864):
    kk=clean2.iloc[n,0:3]
    if kk[0] == 'TX':
        result='Texas'
    if kk[0] == 'CO':
        result='Colorado'
    if kk[0] == 'AL':
        result='Alabama'
    if kk[0] == 'AK':
        result='Alaska'        
    if kk[0] == 'AZ':
        result='Arizona'
    if kk[0] == 'AR':
        result='Arkansas'
    if kk[0] == 'CA':
        result='California'
    if kk[0] == 'CT':
        result='Connecticut'         
        
    if kk[0] == 'DE':
        result='Delaware'
    if kk[0] == 'FL':
        result='Florida'
    if kk[0] == 'GA':
        result='Georgia'
    if kk[0] == 'HI':
        result='Hawaii'        
    if kk[0] == 'ID':
        result='Idaho'
    if kk[0] == 'IL':
        result='Illinois'
    if kk[0] == 'IN':
        result='Indiana'
    if kk[0] == 'IA':
        result='Iowa'          
        
    if kk[0] == 'KS':
        result='Kansas'
    if kk[0] == 'KY':
        result='Kentucky'
    if kk[0] == 'LA':
        result='Louisiana'
    if kk[0] == 'ME':
        result='Maine'        
    if kk[0] == 'MD':
        result='Maryland'
    if kk[0] == 'MA':
        result='Massachusetts'
    if kk[0] == 'MI':
        result='Michigan'
    if kk[0] == 'MN':
        result='Minnesota'         
        
    if kk[0] == 'MS':
        result='Mississippi'
    if kk[0] == 'MO':
        result='Missouri'
    if kk[0] == 'MT':
        result='Montana'
    if kk[0] == 'NE':
        result='Nebraska'        
    if kk[0] == 'NV':
        result='Nevada'
    if kk[0] == 'NH':
        result='New hampshire'
    if kk[0] == 'NJ':
        result='New jersey'
    if kk[0] == 'NM':
        result='New mexico'  
        
    if kk[0] == 'NY':
        result='New York'
    if kk[0] == 'NC':
        result='North Carolina'
    if kk[0] == 'ND':
        result='North Dakota'
    if kk[0] == 'OH':
        result='Ohio'        
    if kk[0] == 'OK':
        result='Oklahoma'
    if kk[0] == 'OR':
        result='Oregon'
    if kk[0] == 'PA':
        result='Pennsylvania'
    if kk[0] == 'RI':
        result='Rhode island'          
        
    if kk[0] == 'SC':
        result='South carolina'
    if kk[0] == 'SD':
        result='South dakota'
    if kk[0] == 'TN':
        result='Tennessee'
    if kk[0] == 'UT':
        result='Utah'        
    if kk[0] == 'VT':
        result='Vermont'
    if kk[0] == 'VA':
        result='Virginia'
    if kk[0] == 'WA':
        result='Washington'
    if kk[0] == 'WV':
        result='West Virginia'          
    if kk[0] == 'WI':
        result='Wisconsin'
    if kk[0] == 'WY':
        result='Wyoming'   
    
    
    first.s4.append(result)
    first.s5.append(kk[1])
    first.s6.append(kk[2])
state = pd.DataFrame({'location': first.s4,
                      'salary': first.s5,
                      'sector': first.s6    
})
state

,location,salary,sector
0,Texas,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
1,Colorado,Up to $45000.00,Experienced (Non-Manager)
2,Colorado,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
3,Texas,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
4,Texas,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
5,Florida,12.00 - 12.00 $ /hour,Customer Support/Client Care
6,Colorado,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
7,Pennsylvania,"$40,000.00+ /year",Customer Support/Client Care
8,Colorado,60.00 - 82.00 $ /hour,IT/Software Development
9,Colorado,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
10,California,15.00 - 19.00 $ /hour,Administrative/Clerical
11,Minnesota,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
12,Ohio,13.00 - 16.00 $ /year,Administrative/Clerical
13,Minnesota,17.00 - 17.00 $ /hour,Business/Strategic Management
14,Nevada,"85,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
15,Nevada,19.00 - 19.00 $ /hour,Experienced (Non-Manager)
16,California,40.00 - 40.00 $ /hour,Experienced (Non-Manager)
17,Nevada,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
18,Nevada,"50,000.00 - 60,000.00 $ /year",Accounting/Finance/Insurance
19,California,0.00 - 20.00 $ /hour,Accounting/Finance/Insurance
20,Massachusetts,16.00 - 23.00 $ /hour,Accounting/Finance/Insurance
21,Michigan,15.00 - 18.00 $ /hour,Accounting/Finance/Insurance
22,Florida,10.00 - 11.00 $ /year,Food Services/Hospitality
23,Massachusetts,"0.00 - 90,000.00 $ /year",Accounting/Finance/Insurance
24,Michigan,20.00 - 26.00 $ /hour,Accounting/Finance/Insurance
25,Texas,"$30,000.00+ /yearplus benefits",Entry Level
26,New jersey,12.00 - 14.00 $ /hour,Experienced (Non-Manager)
27,Florida,11.85 - 11.85 $ /hour,Security/Protective Services
28,Delaware,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
29,California,$10.87+ /hour,Entry Level
...,...,...,...
1834,Virginia,"40,000.00 - 52,000.00 $ /yearvery attainable b...",Manager (Manager/Supervisor of Staff)
1835,Ohio,"$18,500.00+ /year20 Hours a week!",Manager (Manager/Supervisor of Staff)
1836,Florida,"45,000.00 - 70,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1837,Florida,"40,000.00 - 45,000.00 $ /yearBase plus monthly...",Manager (Manager/Supervisor of Staff)
1838,Wisconsin,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1839,Wisconsin,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1840,Texas,"30,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1841,Ohio,"45,000.00 - 65,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1842,Florida,12.00 - 16.00 $ /hour,Experienced (Non-Manager)
1843,California,"60,220.00 - 60,220.00 $ /year",Experienced (Non-Manager)
1844,Florida,"40,000.00 - 50,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1845,Michigan,"35,000.00 - 40,000.00 $ /yearBonuses",Manager (Manager/Supervisor of Staff)
1846,Louisiana,"30,000.00 - 65,000.00 $ /year?",Food Services/Hospitality
1847,California,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1848,Louisiana,"30,000.00 - 60,000.00 $ /year?",Food Services/Hospitality
1849,Florida,$8.05+ /hour,Entry Level
1850,Wisconsin,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1851,California,"40,000.00 - 50,000.00 $ /yearplus aggressive m...",Manager (Manager/Supervisor of Staff)
1852,Rhode island,"$45,000.00+ /yearbonus,incentive based",Manager (Manager/Supervisor of Staff)
1853,Pennsylvania,"45,000.00 - 48,000.00 $ /year2500.00 sign on b...",Experienced (Non-Manager)
1854,Iowa,$20.00+ /hourDOE Generous Benefits,Experienced (Non-Manager)
1855,Texas,"33,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1856,Indiana,"35,000.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1857,North Carolina,"40,000.00 - 52,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1858,California,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1859,Nevada,"45,000.00 - 60,000.00 $ /year",Food Services/Hospitality
1860,California,"30,000.00 - 52,000.00 $ /yearHourly rate or sa...",Experienced (Non-Manager)
1861,Louisiana,"45,000.00 - 60,000.00 $ /yearBonus potential u...",Manager (Manager/Supervisor of Staff)
1862,Illinois,15.00 - 15.96 $ /hour,Medical/Health
1863,Ohio,"45,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)

In [65]:
pattern = '[-]'
#second = []
first.s4 = []
first.s5 = []
first.s6 = []
for n in range(0,1863):
    kk=state.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s4.append(kk[0])
        first.s5.append(kk[1])
        first.s6.append(kk[2])
state1 = pd.DataFrame({'location': first.s4,
                      'salary': first.s5,
                      'sector': first.s6    
})
state1

,location,salary,sector
0,Texas,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
1,Colorado,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
2,Texas,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
3,Texas,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
4,Florida,12.00 - 12.00 $ /hour,Customer Support/Client Care
5,Colorado,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
6,Colorado,60.00 - 82.00 $ /hour,IT/Software Development
7,Colorado,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
8,California,15.00 - 19.00 $ /hour,Administrative/Clerical
9,Minnesota,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
10,Ohio,13.00 - 16.00 $ /year,Administrative/Clerical
11,Minnesota,17.00 - 17.00 $ /hour,Business/Strategic Management
12,Nevada,"85,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
13,Nevada,19.00 - 19.00 $ /hour,Experienced (Non-Manager)
14,California,40.00 - 40.00 $ /hour,Experienced (Non-Manager)
15,Nevada,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
16,Nevada,"50,000.00 - 60,000.00 $ /year",Accounting/Finance/Insurance
17,California,0.00 - 20.00 $ /hour,Accounting/Finance/Insurance
18,Massachusetts,16.00 - 23.00 $ /hour,Accounting/Finance/Insurance
19,Michigan,15.00 - 18.00 $ /hour,Accounting/Finance/Insurance
20,Florida,10.00 - 11.00 $ /year,Food Services/Hospitality
21,Massachusetts,"0.00 - 90,000.00 $ /year",Accounting/Finance/Insurance
22,Michigan,20.00 - 26.00 $ /hour,Accounting/Finance/Insurance
23,New jersey,12.00 - 14.00 $ /hour,Experienced (Non-Manager)
24,Florida,11.85 - 11.85 $ /hour,Security/Protective Services
25,Delaware,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
26,New York,30.93 - 30.93 $ /hour,Security/Protective Services
27,Virginia,15.00 - 17.00 $ /hour,Security/Protective Services
28,Maryland,20.00 - 23.00 $ /hour,Security/Protective Services
29,Florida,0.00 - 12.25 $ /hourPlus benefits,Experienced (Non-Manager)
...,...,...,...
1626,Illinois,"80,000.00 - 90,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1627,Wisconsin,"45,000.00 - 56,000.00 $ /year",Food Services/Hospitality
1628,New York,"50.00 - 55.00 $ /hourmore experience, more money",Manager (Manager/Supervisor of Staff)
1629,Delaware,8.00 - 10.00 $ /hour,Entry Level
1630,Florida,"40,000.00 - 50,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1631,Virginia,"40,000.00 - 52,000.00 $ /yearvery attainable b...",Manager (Manager/Supervisor of Staff)
1632,Florida,"45,000.00 - 70,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1633,Florida,"40,000.00 - 45,000.00 $ /yearBase plus monthly...",Manager (Manager/Supervisor of Staff)
1634,Wisconsin,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1635,Wisconsin,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1636,Texas,"30,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1637,Ohio,"45,000.00 - 65,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1638,Florida,12.00 - 16.00 $ /hour,Experienced (Non-Manager)
1639,California,"60,220.00 - 60,220.00 $ /year",Experienced (Non-Manager)
1640,Florida,"40,000.00 - 50,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1641,Michigan,"35,000.00 - 40,000.00 $ /yearBonuses",Manager (Manager/Supervisor of Staff)
1642,Louisiana,"30,000.00 - 65,000.00 $ /year?",Food Services/Hospitality
1643,California,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1644,Louisiana,"30,000.00 - 60,000.00 $ /year?",Food Services/Hospitality
1645,Wisconsin,"38,000.00 - 47,000.00 $ /year",Food Services/Hospitality
1646,California,"40,000.00 - 50,000.00 $ /yearplus aggressive m...",Manager (Manager/Supervisor of Staff)
1647,Pennsylvania,"45,000.00 - 48,000.00 $ /year2500.00 sign on b...",Experienced (Non-Manager)
1648,Texas,"33,000.00 - 35,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1649,Indiana,"35,000.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1650,North Carolina,"40,000.00 - 52,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1651,California,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1652,Nevada,"45,000.00 - 60,000.00 $ /year",Food Services/Hospitality
1653,California,"30,000.00 - 52,000.00 $ /yearHourly rate or sa...",Experienced (Non-Manager)
1654,Louisiana,"45,000.00 - 60,000.00 $ /yearBonus potential u...",Manager (Manager/Supervisor of Staff)
1655,Illinois,15.00 - 15.96 $ /hour,Medical/Health

In [66]:
pattern = '[/][h,o,u,r]'
#second = []
first.s7 = []
first.s8 = []
first.s9 = []
for n in range(0,1654):
    kk=state1.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s7.append(kk[0])
        
        check = kk[1].replace(',','')
        first.s8.append(kk[1])
        first.s9.append(kk[2])
second_hour = pd.DataFrame({'location': first.s7,
                      'salary': first.s8,
                      'sector': first.s9    
})
second_hour

,location,salary,sector
0,Florida,12.00 - 12.00 $ /hour,Customer Support/Client Care
1,Colorado,60.00 - 82.00 $ /hour,IT/Software Development
2,California,15.00 - 19.00 $ /hour,Administrative/Clerical
3,Minnesota,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
4,Minnesota,17.00 - 17.00 $ /hour,Business/Strategic Management
5,Nevada,19.00 - 19.00 $ /hour,Experienced (Non-Manager)
6,California,40.00 - 40.00 $ /hour,Experienced (Non-Manager)
7,California,0.00 - 20.00 $ /hour,Accounting/Finance/Insurance
8,Massachusetts,16.00 - 23.00 $ /hour,Accounting/Finance/Insurance
9,Michigan,15.00 - 18.00 $ /hour,Accounting/Finance/Insurance
10,Michigan,20.00 - 26.00 $ /hour,Accounting/Finance/Insurance
11,New jersey,12.00 - 14.00 $ /hour,Experienced (Non-Manager)
12,Florida,11.85 - 11.85 $ /hour,Security/Protective Services
13,Delaware,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
14,New York,30.93 - 30.93 $ /hour,Security/Protective Services
15,Virginia,15.00 - 17.00 $ /hour,Security/Protective Services
16,Maryland,20.00 - 23.00 $ /hour,Security/Protective Services
17,Florida,0.00 - 12.25 $ /hourPlus benefits,Experienced (Non-Manager)
18,Texas,55.00 - 65.00 $ /hour,IT/Software Development
19,Ohio,11.00 - 11.00 $ /hourBenefits Package,Entry Level
20,Florida,11.00 - 13.00 $ /hour,Security/Protective Services
21,Florida,13.00 - 13.00 $ /hour,Security/Protective Services
22,Texas,12.00 - 15.00 $ /hour,Experienced (Non-Manager)
23,Texas,13.00 - 13.00 $ /hour,Administrative/Clerical
24,Delaware,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
25,Texas,55.00 - 65.00 $ /hour,IT/Software Development
26,New York,26.92 - 26.92 $ /hour,Security/Protective Services
27,Washington,15.00 - 21.90 $ /hour,Experienced (Non-Manager)
28,Colorado,16.00 - 18.00 $ /hour,Customer Support/Client Care
29,Indiana,9.50 - 11.00 $ /hourBenefits + Annual Bonus,Entry Level
...,...,...,...
514,Texas,15.00 - 16.00 $ /hour,Experienced (Non-Manager)
515,New York,14.00 - 17.00 $ /hour,Entry Level
516,Texas,14.50 - 16.00 $ /hour,Medical/Health
517,Ohio,35.00 - 45.00 $ /hour,Experienced (Non-Manager)
518,South carolina,14.00 - 14.50 $ /hour,Medical/Health
519,Massachusetts,48.00 - 49.00 $ /hour,Experienced (Non-Manager)
520,Oklahoma,16.00 - 16.00 $ /hour,Entry Level
521,Florida,11.00 - 13.00 $ /hour,Student (High School)
522,Washington,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
523,Ohio,20.00 - 25.00 $ /hour,Experienced (Non-Manager)
524,California,0.00 - 27.82 $ /hour$750 Signing Bonus,Experienced (Non-Manager)
525,California,20.00 - 25.00 $ /hour,Experienced (Non-Manager)
526,South carolina,19.00 - 21.00 $ /hour,Experienced (Non-Manager)
527,California,50.00 - 60.00 $ /hour,Experienced (Non-Manager)
528,Kansas,9.00 - 14.78 $ /hour,Entry Level
529,California,15.00 - 17.00 $ /hour,Experienced (Non-Manager)
530,Ohio,9.00 - 10.00 $ /hour,Experienced (Non-Manager)
531,Missouri,8.50 - 9.00 $ /hour,Entry Level
532,Maryland,16.00 - 16.00 $ /hour,Medical/Health
533,Texas,Hourly Rate and Cash Tips every shift - this c...,Student (High School)
534,South carolina,15.00 - 17.00 $ /hour,Experienced (Non-Manager)
535,Iowa,8.50 - 10.00 $ /hourPerformance bonuses availa...,Student (Undergraduate/Graduate)
536,California,28.00 - 30.00 $ /hour,Experienced (Non-Manager)
537,New York,15.00 - 30.00 $ /hour,Manager (Manager/Supervisor of Staff)
538,Pennsylvania,18.00 - 19.00 $ /hour,Experienced (Non-Manager)
539,Wisconsin,0.00 - 14.19 $ /hour,General/Other: Food Services
540,Massachusetts,0.00 - 20.00 $ /hour,Medical/Health
541,New York,"50.00 - 55.00 $ /hourmore experience, more money",Manager (Manager/Supervisor of Staff)
542,Delaware,8.00 - 10.00 $ /hour,Entry Level
543,Florida,12.00 - 16.00 $ /hour,Experienced (Non-Manager)

In [70]:
second_hour.to_csv('clean2.csv')

手动清楚奇怪的东西

In [74]:
clean2 = pd.read_csv('clean2.csv',usecols=[1,2,3])
clean2

,location,salary,sector
0,Florida,12.00 - 12.00 $ /hour,Customer Support/Client Care
1,Colorado,60.00 - 82.00 $ /hour,IT/Software Development
2,California,15.00 - 19.00 $ /hour,Administrative/Clerical
3,Minnesota,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
4,Minnesota,17.00 - 17.00 $ /hour,Business/Strategic Management
5,Nevada,19.00 - 19.00 $ /hour,Experienced (Non-Manager)
6,California,40.00 - 40.00 $ /hour,Experienced (Non-Manager)
7,California,0.00 - 20.00 $ /hour,Accounting/Finance/Insurance
8,Massachusetts,16.00 - 23.00 $ /hour,Accounting/Finance/Insurance
9,Michigan,15.00 - 18.00 $ /hour,Accounting/Finance/Insurance
10,Michigan,20.00 - 26.00 $ /hour,Accounting/Finance/Insurance
11,New jersey,12.00 - 14.00 $ /hour,Experienced (Non-Manager)
12,Florida,11.85 - 11.85 $ /hour,Security/Protective Services
13,Delaware,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
14,New York,30.93 - 30.93 $ /hour,Security/Protective Services
15,Virginia,15.00 - 17.00 $ /hour,Security/Protective Services
16,Maryland,20.00 - 23.00 $ /hour,Security/Protective Services
17,Florida,0.00 - 12.25 $ /hourPlus benefits,Experienced (Non-Manager)
18,Texas,55.00 - 65.00 $ /hour,IT/Software Development
19,Ohio,11.00 - 11.00 $ /hourBenefits Package,Entry Level
20,Florida,11.00 - 13.00 $ /hour,Security/Protective Services
21,Florida,13.00 - 13.00 $ /hour,Security/Protective Services
22,Texas,12.00 - 15.00 $ /hour,Experienced (Non-Manager)
23,Texas,13.00 - 13.00 $ /hour,Administrative/Clerical
24,Delaware,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
25,Texas,55.00 - 65.00 $ /hour,IT/Software Development
26,New York,26.92 - 26.92 $ /hour,Security/Protective Services
27,Washington,15.00 - 21.90 $ /hour,Experienced (Non-Manager)
28,Colorado,16.00 - 18.00 $ /hour,Customer Support/Client Care
29,Indiana,9.50 - 11.00 $ /hourBenefits + Annual Bonus,Entry Level
...,...,...,...
513,Washington,15.00 - 16.00 $ /hour,Career Level Experienced (Non-Manager)
514,Texas,15.00 - 16.00 $ /hour,Experienced (Non-Manager)
515,New York,14.00 - 17.00 $ /hour,Entry Level
516,Texas,14.50 - 16.00 $ /hour,Medical/Health
517,Ohio,35.00 - 45.00 $ /hour,Experienced (Non-Manager)
518,South carolina,14.00 - 14.50 $ /hour,Medical/Health
519,Massachusetts,48.00 - 49.00 $ /hour,Experienced (Non-Manager)
520,Oklahoma,16.00 - 16.00 $ /hour,Entry Level
521,Florida,11.00 - 13.00 $ /hour,Student (High School)
522,Washington,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
523,Ohio,20.00 - 25.00 $ /hour,Experienced (Non-Manager)
524,California,0.00 - 27.82 $ /hour$750 Signing Bonus,Experienced (Non-Manager)
525,California,20.00 - 25.00 $ /hour,Experienced (Non-Manager)
526,South carolina,19.00 - 21.00 $ /hour,Experienced (Non-Manager)
527,California,50.00 - 60.00 $ /hour,Experienced (Non-Manager)
528,Kansas,9.00 - 14.78 $ /hour,Entry Level
529,California,15.00 - 17.00 $ /hour,Experienced (Non-Manager)
530,Ohio,9.00 - 10.00 $ /hour,Experienced (Non-Manager)
531,Missouri,8.50 - 9.00 $ /hour,Entry Level
532,Maryland,16.00 - 16.00 $ /hour,Medical/Health
533,South carolina,15.00 - 17.00 $ /hour,Experienced (Non-Manager)
534,Iowa,8.50 - 10.00 $ /hourPerformance bonuses availa...,Student (Undergraduate/Graduate)
535,California,28.00 - 30.00 $ /hour,Experienced (Non-Manager)
536,New York,15.00 - 30.00 $ /hour,Manager (Manager/Supervisor of Staff)
537,Pennsylvania,18.00 - 19.00 $ /hour,Experienced (Non-Manager)
538,Wisconsin,0.00 - 14.19 $ /hour,General/Other: Food Services
539,Massachusetts,0.00 - 20.00 $ /hour,Medical/Health
540,New York,"50.00 - 55.00 $ /hourmore experience, more money",Manager (Manager/Supervisor of Staff)
541,Delaware,8.00 - 10.00 $ /hour,Entry Level
542,Florida,12.00 - 16.00 $ /hour,Experienced (Non-Manager)

In [111]:
pattern = '[/][h,o,u,r]'
first.s10 = []
first.s11 = []
first.s12 = []
for n in range(0,542):
    kk=clean2.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s10.append(kk[0])
        check = kk[1].replace(',','')
        front = check.split('$')[0].split('-')[0].strip()
        back = check.split('$')[0].split('-')[1].strip()
        salary1 = (float(front)+float(back))/2
        salary1 = salary1 * 2080.6
        
        
        first.s11.append(salary1)
        first.s12.append(kk[2])
third_hour = pd.DataFrame({'location': first.s10,
                      'salary': first.s11,
                      'sector': first.s12    
})
third_hour

           location      salary                                  sector
0           Florida   24967.200            Customer Support/Client Care
1          Colorado  147722.600                 IT/Software Development
2        California   35370.200                 Administrative/Clerical
3         Minnesota   37450.800            Accounting/Finance/Insurance
4         Minnesota   35370.200           Business/Strategic Management
5            Nevada   39531.400               Experienced (Non-Manager)
6        California   83224.000               Experienced (Non-Manager)
7        California   20806.000            Accounting/Finance/Insurance
8     Massachusetts   40571.700            Accounting/Finance/Insurance
9          Michigan   34329.900            Accounting/Finance/Insurance
10         Michigan   47853.800            Accounting/Finance/Insurance
11       New jersey   27047.800               Experienced (Non-Manager)
12          Florida   24655.110            Security/Protective Services
13         Delaware   29128.400               Experienced (Non-Manager)
14         New York   64352.958            Security/Protective Services
15         Virginia   33289.600            Security/Protective Services
16         Maryland   44732.900            Security/Protective Services
17          Florida   12743.675               Experienced (Non-Manager)
18            Texas  124836.000                 IT/Software Development
19             Ohio   22886.600                             Entry Level
20          Florida   24967.200            Security/Protective Services
21          Florida   27047.800            Security/Protective Services
22            Texas   28088.100               Experienced (Non-Manager)
23            Texas   27047.800                 Administrative/Clerical
24         Delaware   29128.400               Experienced (Non-Manager)
25            Texas  124836.000                 IT/Software Development
26         New York   56009.752            Security/Protective Services
27       Washington   38387.070               Experienced (Non-Manager)
28         Colorado   35370.200            Customer Support/Client Care
29          Indiana   21326.150                             Entry Level
..              ...         ...                                     ...
512      California   33289.600                Logistics/Transportation
513      Washington   32249.300  Career Level Experienced (Non-Manager)
514           Texas   32249.300               Experienced (Non-Manager)
515        New York   32249.300                             Entry Level
516           Texas   31729.150                          Medical/Health
517            Ohio   83224.000               Experienced (Non-Manager)
518  South carolina   29648.550                          Medical/Health
519   Massachusetts  100909.100               Experienced (Non-Manager)
520        Oklahoma   33289.600                             Entry Level
521         Florida   24967.200                   Student (High School)
522      Washington   40571.700               Experienced (Non-Manager)
523            Ohio   46813.500               Experienced (Non-Manager)
524      California   28941.146               Experienced (Non-Manager)
525      California   46813.500               Experienced (Non-Manager)
526  South carolina   41612.000               Experienced (Non-Manager)
527      California  114433.000               Experienced (Non-Manager)
528          Kansas   24738.334                             Entry Level
529      California   33289.600               Experienced (Non-Manager)
530            Ohio   19765.700               Experienced (Non-Manager)
531        Missouri   18205.250                             Entry Level
532        Maryland   33289.600                          Medical/Health
533  South carolina   33289.600               Experienced (Non-Manager)
534            Iowa   19245.550        Student (Undergraduate/Graduate)
535      California   60337.400               Experienced (Non-Manager)
536        New York   46813.500   Manager (Manager/Supervisor of Staff)
537    Pennsylvania   38491.100               Experienced (Non-Manager)
538       Wisconsin   14761.857            General/Other: Food Services
539   Massachusetts   20806.000                          Medical/Health
540        New York  109231.500   Manager (Manager/Supervisor of Staff)
541        Delaware   18725.400                             Entry Level

[542 rows x 3 columns]

In [89]:
state1.to_csv('clean3.csv')

手动清理

In [110]:
clean3 = pd.read_csv('clean3.csv',usecols=[1,2,3])
pattern = '[/][y,e,a,r]'
#second = []
first.s7 = []
first.s8 = []
first.s9 = []
for n in range(0,1654):
    kk=clean3.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s7.append(kk[0])
        check = kk[1].replace(',','')
        front = check.split('$')[0].split('-')[0].strip()
        back = check.split('$')[0].split('-')[1].strip()
        salary2 = (float(front)+float(back))/2
        #first.s8.append(kk[1])
        first.s8.append(salary2)
        first.s9.append(kk[2])
second_year = pd.DataFrame({'location': first.s7,
                      'salary': first.s8,
                      'sector': first.s9    
})
second_year

            location    salary                                     sector
0              Texas  102500.0                  Experienced (Non-Manager)
1           Colorado   42500.0                  Experienced (Non-Manager)
2              Texas   85000.0       Building Construction/Skilled Trades
3              Texas   75000.0       Building Construction/Skilled Trades
4           Colorado   77500.0               Accounting/Finance/Insurance
5           Colorado  125000.0               Accounting/Finance/Insurance
6               Ohio      14.5                    Administrative/Clerical
7             Nevada   92500.0               Accounting/Finance/Insurance
8             Nevada   75000.0               Accounting/Finance/Insurance
9             Nevada   55000.0               Accounting/Finance/Insurance
10           Florida      10.5                  Food Services/Hospitality
11     Massachusetts   45000.0               Accounting/Finance/Insurance
12        New jersey   42500.0          Sales/Retail/Business Development
13          Colorado   50000.0       Building Construction/Skilled Trades
14             Texas  115000.0                             Medical/Health
15          Colorado   60000.0                  Experienced (Non-Manager)
16             Texas   65000.0       Building Construction/Skilled Trades
17             Texas   65000.0                            Human Resources
18          Colorado   85000.0  Executive (SVP, VP, Department Head, etc)
19           Florida   66616.0                  Experienced (Non-Manager)
20          Colorado   45000.0       Building Construction/Skilled Trades
21             Texas   60000.0      Manager (Manager/Supervisor of Staff)
22          Colorado      14.0       Building Construction/Skilled Trades
23         Tennessee   73500.0                    IT/Software Development
24        New jersey  185000.0                    IT/Software Development
25         Tennessee   80000.0                    IT/Software Development
26         Wisconsin  155000.0  Executive (SVP, VP, Department Head, etc)
27             Texas  110000.0                  Experienced (Non-Manager)
28        New jersey  150000.0                        Biotech/R&D/Science
29          Illinois   90000.0                   Quality Assurance/Safety
...              ...       ...                                        ...
1059        Missouri   38000.0                  Food Services/Hospitality
1060        Arkansas  110000.0      Manager (Manager/Supervisor of Staff)
1061         Florida   50000.0      Manager (Manager/Supervisor of Staff)
1062  North Carolina   34000.0      Manager (Manager/Supervisor of Staff)
1063        Illinois   85000.0      Manager (Manager/Supervisor of Staff)
1064       Wisconsin   50500.0                  Food Services/Hospitality
1065         Florida   45000.0      Manager (Manager/Supervisor of Staff)
1066        Virginia   46000.0      Manager (Manager/Supervisor of Staff)
1067         Florida   57500.0      Manager (Manager/Supervisor of Staff)
1068         Florida   42500.0      Manager (Manager/Supervisor of Staff)
1069       Wisconsin   42500.0                  Food Services/Hospitality
1070       Wisconsin   42500.0                  Food Services/Hospitality
1071           Texas   32500.0      Manager (Manager/Supervisor of Staff)
1072            Ohio   55000.0      Manager (Manager/Supervisor of Staff)
1073      California   60220.0                  Experienced (Non-Manager)
1074         Florida   45000.0      Manager (Manager/Supervisor of Staff)
1075        Michigan   37500.0      Manager (Manager/Supervisor of Staff)
1076       Louisiana   47500.0                  Food Services/Hospitality
1077      California   52500.0      Manager (Manager/Supervisor of Staff)
1078       Louisiana   45000.0                  Food Services/Hospitality
1079       Wisconsin   42500.0                  Food Services/Hospitality
1080      California   45000.0      Manager (Manager/Supervisor of Staff)
1081    Pennsylvania   46500.0                  Experienced (Non-Manager)
1082           Texas   34000.0      Manager (Manager/Supervisor of Staff)
1083         Indiana   45000.0      Manager (Manager/Supervisor of Staff)
1084  North Carolina   46000.0      Manager (Manager/Supervisor of Staff)
1085      California   52500.0      Manager (Manager/Supervisor of Staff)
1086          Nevada   52500.0                  Food Services/Hospitality
1087      California   41000.0                  Experienced (Non-Manager)
1088       Louisiana   52500.0      Manager (Manager/Supervisor of Staff)

[1089 rows x 3 columns]

In [112]:
n

541

In [114]:
first.s12=[]
first.s13=[]
first.s14=[]
for n in range(0,541):
    
    kk=third_hour.iloc[n,0:3]
    if kk[1] > 1000:

        first.s12.append(kk[0])
        first.s13.append(kk[1])
        first.s14.append(kk[2])
    
for n in range(0,1088):
    gg=second_year.iloc[n,0:3]
    if gg[1] > 1000:
        first.s12.append(gg[0])
        first.s13.append(gg[1])
        first.s14.append(gg[2])
    
second_chart = pd.DataFrame({'location': first.s12,
                      'salary': first.s13,
                      'sector': first.s14    
})
second_chart

            location      salary                                 sector
0            Florida   24967.200           Customer Support/Client Care
1           Colorado  147722.600                IT/Software Development
2         California   35370.200                Administrative/Clerical
3          Minnesota   37450.800           Accounting/Finance/Insurance
4          Minnesota   35370.200          Business/Strategic Management
5             Nevada   39531.400              Experienced (Non-Manager)
6         California   83224.000              Experienced (Non-Manager)
7         California   20806.000           Accounting/Finance/Insurance
8      Massachusetts   40571.700           Accounting/Finance/Insurance
9           Michigan   34329.900           Accounting/Finance/Insurance
10          Michigan   47853.800           Accounting/Finance/Insurance
11        New jersey   27047.800              Experienced (Non-Manager)
12           Florida   24655.110           Security/Protective Services
13          Delaware   29128.400              Experienced (Non-Manager)
14          New York   64352.958           Security/Protective Services
15          Virginia   33289.600           Security/Protective Services
16          Maryland   44732.900           Security/Protective Services
17           Florida   12743.675              Experienced (Non-Manager)
18             Texas  124836.000                IT/Software Development
19              Ohio   22886.600                            Entry Level
20           Florida   24967.200           Security/Protective Services
21           Florida   27047.800           Security/Protective Services
22             Texas   28088.100              Experienced (Non-Manager)
23             Texas   27047.800                Administrative/Clerical
24          Delaware   29128.400              Experienced (Non-Manager)
25             Texas  124836.000                IT/Software Development
26          New York   56009.752           Security/Protective Services
27        Washington   38387.070              Experienced (Non-Manager)
28          Colorado   35370.200           Customer Support/Client Care
29           Indiana   21326.150                            Entry Level
...              ...         ...                                    ...
1552        Missouri   49500.000              Food Services/Hospitality
1553        Missouri   38000.000              Food Services/Hospitality
1554        Arkansas  110000.000  Manager (Manager/Supervisor of Staff)
1555         Florida   50000.000  Manager (Manager/Supervisor of Staff)
1556  North Carolina   34000.000  Manager (Manager/Supervisor of Staff)
1557        Illinois   85000.000  Manager (Manager/Supervisor of Staff)
1558       Wisconsin   50500.000              Food Services/Hospitality
1559         Florida   45000.000  Manager (Manager/Supervisor of Staff)
1560        Virginia   46000.000  Manager (Manager/Supervisor of Staff)
1561         Florida   57500.000  Manager (Manager/Supervisor of Staff)
1562         Florida   42500.000  Manager (Manager/Supervisor of Staff)
1563       Wisconsin   42500.000              Food Services/Hospitality
1564       Wisconsin   42500.000              Food Services/Hospitality
1565           Texas   32500.000  Manager (Manager/Supervisor of Staff)
1566            Ohio   55000.000  Manager (Manager/Supervisor of Staff)
1567      California   60220.000              Experienced (Non-Manager)
1568         Florida   45000.000  Manager (Manager/Supervisor of Staff)
1569        Michigan   37500.000  Manager (Manager/Supervisor of Staff)
1570       Louisiana   47500.000              Food Services/Hospitality
1571      California   52500.000  Manager (Manager/Supervisor of Staff)
1572       Louisiana   45000.000              Food Services/Hospitality
1573       Wisconsin   42500.000              Food Services/Hospitality
1574      California   45000.000  Manager (Manager/Supervisor of Staff)
1575    Pennsylvania   46500.000              Experienced (Non-Manager)
1576           Texas   34000.000  Manager (Manager/Supervisor of Staff)
1577         Indiana   45000.000  Manager (Manager/Supervisor of Staff)
1578  North Carolina   46000.000  Manager (Manager/Supervisor of Staff)
1579      California   52500.000  Manager (Manager/Supervisor of Staff)
1580          Nevada   52500.000              Food Services/Hospitality
1581      California   41000.000              Experienced (Non-Manager)

[1582 rows x 3 columns]

In [115]:
second_chart.to_csv('state_salary_sector.csv')

In [116]:
counts = second_chart['sector'].value_counts()
print (counts)

Experienced (Non-Manager)                                                                            508
Manager (Manager/Supervisor of Staff)                                                                238
Accounting/Finance/Insurance                                                                         178
Entry Level                                                                                          123
Sales/Retail/Business Development                                                                     90
IT/Software Development                                                                               63
Manufacturing/Production/Operations                                                                   43
Quality Assurance/Safety                                                                              39
Food Services/Hospitality                                                                             36
Medical/Health                                                                                        34
Installation/Maintenance/Repair                                                                       26
Building Construction/Skilled Trades                                                                  21
Project/Program Management                                                                            19
Executive (SVP, VP, Department Head, etc)                                                             18
Customer Support/Client Care                                                                          17
Legal                                                                                                 15
Human Resources                                                                                       15
Biotech/R&D/Science                                                                                   10
Student (High School)                                                                                 10
Logistics/Transportation                                                                              10
Security/Protective Services                                                                           9
Engineering                                                                                            9
Marketing/Product                                                                                      8
Administrative/Clerical                                                                                7
Business/Strategic Management                                                                          6
Insurance Agent/BrokerGeneral/Other: Sales/Business DevelopmentFinancial Products Sales/Brokerage      5
Student (Undergraduate/Graduate)                                                                       4
General/Other: Food Services                                                                           2
Career Level Experienced (Non-Manager)                                                                 2
Other                                                                                                  2
Career Level Entry Level                                                                               2
Systems Analysis - IT                                                                                  2
Desktop Service and Support                                                                            1
Banking/Real Estate/Mortgage Professionals                                                             1
Software Quality Assurance                                                                             1
Systems Analysis - ITWeb/UI/UX Design                                                                  1
Editorial/Writing                                                                                      1
Database Development/Administration                                                                    1
General/Other: Medical/HealthVeterinary/Animal Care                                                    1
IT Project ManagementGeneral/Other: Project/Program ManagementProject Management                       1
General/Other: Accounting/Finance                                                                      1
Veterinary/Animal Care                                                                                 1
Account Management (Commissioned)Insurance Agent/BrokerFinancial Products Sales/Brokerage              1
Name: sector, dtype: int64

In [1]:
counts = second_chart['location'].value_counts()
print (counts)

NameError: name 'second_chart' is not defined