# COMP6234

stpe1: clean data
for chart 3

In [2]:
import pandas as pd

In [3]:
monster_data = pd.read_csv('MONSTER.csv',usecols=[8,11,12])
monster_data

,location,salary,sector
0,"Madison, WI 53702",NaN,IT/Software Development
1,"Madison, WI 53708",NaN,NaN
2,DePuy Synthes Companies is a member of Johnson...,NaN,NaN
3,"Dixon, CA",NaN,Experienced (Non-Manager)
4,"Camphill, PA",NaN,Project/Program Management
5,"Charlottesville, VA",NaN,Experienced (Non-Manager)
6,Contact name Tony Zerio,NaN,NaN
7,"Austin, TX 73301",NaN,Experienced (Non-Manager)
8,"Austin, TX 78746",NaN,Customer Support/Client Care
9,"Chesterfield, MO",NaN,NaN
10,"Berryville, VA 22611",NaN,Customer Support/Client Care
11,"Columbus, IN",NaN,Customer Support/Client Care
12,"Boston, MA",NaN,NaN
13,"Houston, TX 77098",9.00 - 13.00 $ /hour,Entry Level
14,"Houston, TX","80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
15,"Des Moines, IA 50317",NaN,NaN
16,Wadesboro 28170,NaN,Civil & Structural EngineeringGeneral/Other: E...
17,"Denver, CO",NaN,Installation/Maintenance/Repair
18,"Natick, MA",NaN,Experienced (Non-Manager)
19,"Carter Lake, IA 51510","60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
20,"Houston, TX",NaN,Business/Strategic Management
21,"Houston, TX 77027",NaN,Accounting/Finance/Insurance
22,La Porte 46350,NaN,General/Other: Engineering
23,"Denver, CO 80215",Excellent Pay and Incentives,NaN
24,"Houston, TX",NaN,NaN
25,"San Carlos, CA 94070",NaN,NaN
26,"Denver, CO",NaN,NaN
27,"Houston, TX 77040",NaN,Customer Support/Client Care
28,"Houston, TX",NaN,NaN
29,"Sr. Process Engineer, Manufacturing","70,000.00 - 100,000.00 $ /year",Engineering
...,...,...,...
21970,"Cincinnati, OH",NaN,NaN
21971,"West Chester, OH","75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
21972,"Cincinnati, OH",NaN,Food Services/Hospitality
21973,"Cincinnati, OH 45202","70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
21974,"Chicago, IL 60603",NaN,Customer Support/Client Care
21975,"Cincinnati, OH 45202",NaN,Marketing/Product
21976,"Cincinnati, OH","40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
21977,"Cincinnati, OH 45202",NaN,Experienced (Non-Manager)
21978,"Cincinnati, OH 45226",NaN,NaN
21979,"Cincinnati, OH 45202",NaN,NaN
21980,"Cincinnati, OH",NaN,NaN
21981,"West Chester, OH",NaN,Experienced (Non-Manager)
21982,"Chicago, IL 60603","70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
21983,Location:,NaN,Installation/Maintenance/Repair
21984,"Cincinnati, OH 45214",NaN,NaN
21985,"Cincinnati, OH","negotiable salary / bonus, car, laptop, excell...","Executive (SVP, VP, Department Head, etc)"
21986,"Chicago, IL 60601",NaN,Manager (Manager/Supervisor of Staff)
21987,"Chicago, IL 60602","$80,000.00+ /year",Experienced (Non-Manager)
21988,"Cincinnati, OH 45249",NaN,Entry Level
21989,"Chicago, IL 60603",NaN,Accounting/Finance/Insurance
21990,"Chicago, IL 60603",NaN,Business/Strategic Management
21991,"Cincinnati, OH 45236",NaN,Medical/Health
21992,"Cincinnati, OH 45237",NaN,Field SalesGeneral/Other: Sales/Business Devel...
21993,"Chicago, IL 60603",NaN,Customer Support/Client Care
21994,"Cincinnati, OH 45202",NaN,Entry Level
21995,"Cincinnati, OH","120,000.00 - 160,000.00 $ /yearbonus",NaN
21996,"Cincinnati, OH 45236","45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
21997,"Chicago, IL 60602",NaN,NaN
21998,"Chicago, IL 60609",25.00 - 28.00 $ /hour,Installation/Maintenance/Repair
21999,"Cincinnati, OH","40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager)

In [29]:
s1 = monster_data.dropna(how='any')['location']
s2 = monster_data.dropna(how='any')['salary']
s3 = monster_data.dropna(how='any')['sector']

In [30]:
location = s1.str.split(',',expand=True)[0]
location

13                    Houston
14                    Houston
19                Carter Lake
29       Sr. Process Engineer
32                     Aurora
36       RF System Technician
41                 Charleston
42                     Denver
58                  Livermore
61                    Houston
64                      Ocean
68                     Denver
83                  Bethlehem
92                    Houston
100                    Denver
111               Clutch City
117                Sacramento
121          Willoughby Hills
132           Fort Lauderdale
134                    Denver
136               Telecommute
146                   Houston
154                    Denver
166                 Englewood
179                Youngstown
182                   Houston
183                    Auburn
190                   Houston
201                   Margate
204                    Denver
                 ...
21882                   Mason
21885                 Chicago
21897                 Chicago
21902                 Chicago
21905              Cincinnati
21906                 Chicago
21907              Cincinnati
21909                 Chicago
21910              Cincinnati
21912              Cincinnati
21913              Cincinnati
21916              Cincinnati
21917              Cincinnati
21919              Cincinnati
21925              Cincinnati
21927                 Chicago
21929              Cincinnati
21941              Cincinnati
21943              Cincinnati
21948              Cincinnati
21960                 Chicago
21971            West Chester
21973              Cincinnati
21976              Cincinnati
21982                 Chicago
21985              Cincinnati
21987                 Chicago
21996              Cincinnati
21998                 Chicago
21999              Cincinnati
Name: 0, Length: 2612, dtype: object

In [33]:
first = pd.DataFrame({'location': location,
                      'salary': s2,
                      'sector': s3    
})
first

,location,salary,sector
13,Houston,9.00 - 13.00 $ /hour,Entry Level
14,Houston,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
19,Carter Lake,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
29,Sr. Process Engineer,"70,000.00 - 100,000.00 $ /year",Engineering
32,Aurora,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
36,RF System Technician,"68,000.00 - 72,000.00 $ /year",Engineering
41,Charleston,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
42,Denver,Up to $32000.00,Experienced (Non-Manager)
58,Livermore,"Salary, plus commission",Experienced (Non-Manager)
61,Houston,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
64,Ocean,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
68,Denver,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
83,Bethlehem,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
92,Houston,"bonus, 401K matching, medical, vacation",Experienced (Non-Manager)
100,Denver,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
111,Clutch City,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
117,Sacramento,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
121,Willoughby Hills,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
132,Fort Lauderdale,"$50,000.00+ /year",Editorial/Writing
134,Denver,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
136,Telecommute,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
146,Houston,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
154,Denver,Up to $45000.00,Experienced (Non-Manager)
166,Englewood,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
179,Youngstown,Negotiable based on experience,Manager (Manager/Supervisor of Staff)
182,Houston,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
183,Auburn,Competitive Wages,Experienced (Non-Manager)
190,Houston,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
201,Margate,12.00 - 12.00 $ /hour,Customer Support/Client Care
204,Denver,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
...,...,...,...
21882,Mason,"45,000.00 - 50,000.00 $ /year",Entry Level
21885,Chicago,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
21897,Chicago,"$32,000.00+ /year",Experienced (Non-Manager)
21902,Chicago,Up to $35000.00,Experienced (Non-Manager)
21905,Cincinnati,"0.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
21906,Chicago,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
21907,Cincinnati,"17,000.00 - 19,000.00 $ /year",Entry Level
21909,Chicago,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
21910,Cincinnati,"30,000.00 - 40,000.00 $ /year+ Commission",Entry Level
21912,Cincinnati,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
21913,Cincinnati,50.00 - 55.00 $ /hour,IT/Software Development
21916,Cincinnati,"75,000.00 - 95,000.00 $ /year",IT/Software Development
21917,Cincinnati,Competitive salary and benefits package,Experienced (Non-Manager)
21919,Cincinnati,"27,000.00 - 29,000.00 $ /yearBonus based on co...",Experienced (Non-Manager)
21925,Cincinnati,$250.00+ /week7-9% commisson depending on sale...,Student (High School)
21927,Chicago,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance
21929,Cincinnati,Commensurate with Experience,Entry Level
21941,Cincinnati,"negotiable salary / bonus, car, laptop, excell...","Executive (SVP, VP, Department Head, etc)"
21943,Cincinnati,DOE - Salary,Manager (Manager/Supervisor of Staff)
21948,Cincinnati,"55,000.00 - 60,000.00 $ /yearFull Benefits Pac...",Experienced (Non-Manager)
21960,Chicago,"75,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
21971,West Chester,"75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
21973,Cincinnati,"70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
21976,Cincinnati,"40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
21982,Chicago,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
21985,Cincinnati,"negotiable salary / bonus, car, laptop, excell...","Executive (SVP, VP, Department Head, etc)"
21987,Chicago,"$80,000.00+ /year",Experienced (Non-Manager)
21996,Cincinnati,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
21998,Chicago,25.00 - 28.00 $ /hour,Installation/Maintenance/Repair
21999,Cincinnati,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager)

In [74]:
pattern = '[\$]'
#second = []
first.s1 = []
first.s2 = []
first.s3 = []
for n in range(0,2611):
    kk=first.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s1.append(kk[0])
        first.s2.append(kk[1])
        first.s3.append(kk[2])
second = pd.DataFrame({'location': first.s1,
                      'salary': first.s2,
                      'sector': first.s3    
})
second

,location,salary,sector
0,Houston,9.00 - 13.00 $ /hour,Entry Level
1,Houston,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
2,Carter Lake,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
3,Sr. Process Engineer,"70,000.00 - 100,000.00 $ /year",Engineering
4,Aurora,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
5,RF System Technician,"68,000.00 - 72,000.00 $ /year",Engineering
6,Charleston,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
7,Denver,Up to $32000.00,Experienced (Non-Manager)
8,Houston,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
9,Ocean,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
10,Denver,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
11,Bethlehem,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
12,Denver,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
13,Clutch City,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
14,Sacramento,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
15,Willoughby Hills,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
16,Fort Lauderdale,"$50,000.00+ /year",Editorial/Writing
17,Denver,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
18,Telecommute,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
19,Houston,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
20,Denver,Up to $45000.00,Experienced (Non-Manager)
21,Englewood,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
22,Houston,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
23,Houston,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
24,Margate,12.00 - 12.00 $ /hour,Customer Support/Client Care
25,Denver,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
26,Philadelphia,"$40,000.00+ /year",Customer Support/Client Care
27,Denver,60.00 - 82.00 $ /hour,IT/Software Development
28,Denver,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
29,Packaging Engineer,"69,000.00 - 101,000.00 $ /year",Engineering
...,...,...,...
2185,Chicago,"110,000.00 - 150,000.00 $ /year",Experienced (Non-Manager)
2186,Cincinnati,"48,000.00 - 52,000.00 $ /year",Experienced (Non-Manager)
2187,Cincinnati,"55,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)
2188,Chicago,"70,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
2189,Cincinnati,23.25 - 25.21 $ /hour,Engineering
2190,Cincinnati,"70,000.00 - 75,000.00 $ /year",Manager (Manager/Supervisor of Staff)
2191,Mason,"45,000.00 - 50,000.00 $ /year",Entry Level
2192,Chicago,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
2193,Chicago,"$32,000.00+ /year",Experienced (Non-Manager)
2194,Chicago,Up to $35000.00,Experienced (Non-Manager)
2195,Cincinnati,"0.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
2196,Chicago,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
2197,Cincinnati,"17,000.00 - 19,000.00 $ /year",Entry Level
2198,Chicago,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
2199,Cincinnati,"30,000.00 - 40,000.00 $ /year+ Commission",Entry Level
2200,Cincinnati,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
2201,Cincinnati,50.00 - 55.00 $ /hour,IT/Software Development
2202,Cincinnati,"75,000.00 - 95,000.00 $ /year",IT/Software Development
2203,Cincinnati,"27,000.00 - 29,000.00 $ /yearBonus based on co...",Experienced (Non-Manager)
2204,Cincinnati,$250.00+ /week7-9% commisson depending on sale...,Student (High School)
2205,Chicago,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance
2206,Cincinnati,"55,000.00 - 60,000.00 $ /yearFull Benefits Pac...",Experienced (Non-Manager)
2207,Chicago,"75,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
2208,West Chester,"75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
2209,Cincinnati,"70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
2210,Cincinnati,"40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
2211,Chicago,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
2212,Chicago,"$80,000.00+ /year",Experienced (Non-Manager)
2213,Cincinnati,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
2214,Chicago,25.00 - 28.00 $ /hour,Installation/Maintenance/Repair

In [77]:
pattern = '[-]'
#second = []
first.s4 = []
first.s5 = []
first.s6 = []
for n in range(0,2214):
    kk=second.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s4.append(kk[0])
        first.s5.append(kk[1])
        first.s6.append(kk[2])
second_1 = pd.DataFrame({'location': first.s4,
                      'salary': first.s5,
                      'sector': first.s6    
})
second_1

,location,salary,sector
0,Houston,9.00 - 13.00 $ /hour,Entry Level
1,Houston,"80,000.00 - 95,000.00 $ /year",Building Construction/Skilled Trades
2,Carter Lake,"60,000.00 - 72,000.00 $ /year",Experienced (Non-Manager)
3,Sr. Process Engineer,"70,000.00 - 100,000.00 $ /year",Engineering
4,Aurora,"75,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
5,RF System Technician,"68,000.00 - 72,000.00 $ /year",Engineering
6,Charleston,"58,000.00 - 65,000.00 $ /year",Experienced (Non-Manager)
7,Houston,"45,000.00 - 100,000.00 $ /yearBonus, Benefits,...",Manager (Manager/Supervisor of Staff)
8,Ocean,"40,000.00 - 50,000.00 $ /yearsalary",Experienced (Non-Manager)
9,Denver,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
10,Bethlehem,"35,000.00 - 45,000.00 $ /year",Experienced (Non-Manager)
11,Denver,"31,000.00 - 33,000.00 $ /year",Experienced (Non-Manager)
12,Clutch City,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
13,Sacramento,"100,000.00 - 120,000.00 $ /year",Experienced (Non-Manager)
14,Willoughby Hills,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
15,Denver,"56,000.00 - 64,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
16,Telecommute,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
17,Houston,"75,000.00 - 130,000.00 $ /yearGenerous Commiss...",Experienced (Non-Manager)
18,Englewood,"0.00 - 85,000.00 $ /year",Experienced (Non-Manager)
19,Houston,"60,000.00 - 110,000.00 $ /year",Building Construction/Skilled Trades
20,Houston,"50,000.00 - 100,000.00 $ /year",Building Construction/Skilled Trades
21,Margate,12.00 - 12.00 $ /hour,Customer Support/Client Care
22,Denver,"70,000.00 - 85,000.00 $ /year",Accounting/Finance/Insurance
23,Denver,60.00 - 82.00 $ /hour,IT/Software Development
24,Denver,"100,000.00 - 150,000.00 $ /year",Accounting/Finance/Insurance
25,Packaging Engineer,"69,000.00 - 101,000.00 $ /year",Engineering
26,Anaheim,15.00 - 19.00 $ /hour,Administrative/Clerical
27,Eden Prairie,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
28,Clifton,13.00 - 16.00 $ /year,Administrative/Clerical
29,Bojangles’ is expanding and opening new locati...,"25,000.00 - 57,000.00 $ /year",Food Services/Hospitality
...,...,...,...
1964,Cincinnati,"65,000.00 - 70,000.00 $ /year",Experienced (Non-Manager)
1965,Cincinnati,"70,000.00 - 110,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1966,Covington,15.00 - 16.00 $ /hour,Experienced (Non-Manager)
1967,Cincinnati,11.75 - 12.75 $ /hourMedical/Dental,Entry Level
1968,Chicago,"110,000.00 - 150,000.00 $ /year",Experienced (Non-Manager)
1969,Cincinnati,"48,000.00 - 52,000.00 $ /year",Experienced (Non-Manager)
1970,Cincinnati,"55,000.00 - 60,000.00 $ /year",Experienced (Non-Manager)
1971,Chicago,"70,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
1972,Cincinnati,23.25 - 25.21 $ /hour,Engineering
1973,Cincinnati,"70,000.00 - 75,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1974,Mason,"45,000.00 - 50,000.00 $ /year",Entry Level
1975,Chicago,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
1976,Cincinnati,"0.00 - 55,000.00 $ /year",Manager (Manager/Supervisor of Staff)
1977,Chicago,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
1978,Cincinnati,"17,000.00 - 19,000.00 $ /year",Entry Level
1979,Chicago,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
1980,Cincinnati,"30,000.00 - 40,000.00 $ /year+ Commission",Entry Level
1981,Cincinnati,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
1982,Cincinnati,50.00 - 55.00 $ /hour,IT/Software Development
1983,Cincinnati,"75,000.00 - 95,000.00 $ /year",IT/Software Development
1984,Cincinnati,"27,000.00 - 29,000.00 $ /yearBonus based on co...",Experienced (Non-Manager)
1985,Cincinnati,$250.00+ /week7-9% commisson depending on sale...,Student (High School)
1986,Chicago,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance
1987,Cincinnati,"55,000.00 - 60,000.00 $ /yearFull Benefits Pac...",Experienced (Non-Manager)
1988,Chicago,"75,000.00 - 100,000.00 $ /year",Accounting/Finance/Insurance
1989,West Chester,"75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
1990,Cincinnati,"70,000.00 - 80,000.00 $ /year",Experienced (Non-Manager)
1991,Cincinnati,"40,000.00 - 42,000.00 $ /yearProfit-sharing",Experienced (Non-Manager)
1992,Chicago,"70,000.00 - 80,000.00 $ /year",Accounting/Finance/Insurance
1993,Cincinnati,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)

In [112]:
pattern = '[/][h,o,u,r]'
#second = []
first.s7 = []
first.s8 = []
first.s9 = []
for n in range(0,1993):
    kk=second_1.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s7.append(kk[0])
        
       # front = kk[1].split('$')[0].split('-')[0].strip()
       # back = kk[1].split('$')[0].split('-')[0].strip()
       # if front == '100,000.00'or back == '100,000.00':
         #   front = 0
           # back=0
        #if front == '60,000.00'or back == '60,000.00':
          #  front = 0
           # back=0
       # if front == '32,000.00'or back == '32,000.00':
           # front = 0
          #  back=0
       # salary1 = (float(front)+float(back))/2
        
        first.s8.append(kk[1])
        first.s9.append(kk[2])
second_hour = pd.DataFrame({'location': first.s7,
                      'salary': first.s8,
                      'sector': first.s9    
})
second_hour

,location,salary,sector
0,Houston,9.00 - 13.00 $ /hour,Entry Level
1,Denver,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
2,Clutch City,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
3,Willoughby Hills,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
4,Telecommute,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
5,Margate,12.00 - 12.00 $ /hour,Customer Support/Client Care
6,Denver,60.00 - 82.00 $ /hour,IT/Software Development
7,Anaheim,15.00 - 19.00 $ /hour,Administrative/Clerical
8,Eden Prairie,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
9,Minneapolis,17.00 - 17.00 $ /hour,Business/Strategic Management
10,Las Vegas,19.00 - 19.00 $ /hour,Experienced (Non-Manager)
11,Irvine,40.00 - 40.00 $ /hour,Experienced (Non-Manager)
12,San Diego,0.00 - 20.00 $ /hour,Accounting/Finance/Insurance
13,Boston,16.00 - 23.00 $ /hour,Accounting/Finance/Insurance
14,Grand Rapids,15.00 - 18.00 $ /hour,Accounting/Finance/Insurance
15,Grand Rapids,20.00 - 26.00 $ /hour,Accounting/Finance/Insurance
16,Cherry Hill,12.00 - 14.00 $ /hour,Experienced (Non-Manager)
17,Orlando,11.85 - 11.85 $ /hour,Security/Protective Services
18,Newark,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
19,New York,30.93 - 30.93 $ /hour,Security/Protective Services
20,N Springfld,15.00 - 17.00 $ /hour,Security/Protective Services
21,Columbia,20.00 - 23.00 $ /hour,Security/Protective Services
22,Saint Petersburg,0.00 - 12.25 $ /hourPlus benefits,Experienced (Non-Manager)
23,Part Time Deputy Judicial Marshal - Belfast,13.45 - 13.45 $ /hour,Security/Protective Services
24,Dallas,55.00 - 65.00 $ /hour,IT/Software Development
25,Parma,11.00 - 11.00 $ /hourBenefits Package,Entry Level
26,Palm Bay,11.00 - 13.00 $ /hour,Security/Protective Services
27,Port Canaveral,13.00 - 13.00 $ /hour,Security/Protective Services
28,Dallas,12.00 - 15.00 $ /hour,Experienced (Non-Manager)
29,Dallas,13.00 - 13.00 $ /hour,Administrative/Clerical
...,...,...,...
643,Chicago,20.00 - 25.00 $ /hour,Accounting/Finance/Insurance
644,Cherry Grove,12.50 - 13.00 $ /hour,Manufacturing/Production/Operations
645,Cincinnati,"18.00 - 25.00 $ /hourHealth, Dental, Vision, 4...",Entry Level
646,Chicago,22.00 - 26.00 $ /hour,Accounting/Finance/Insurance
647,Chicago,20.00 - 30.00 $ /hour,Accounting/Finance/Insurance
648,Cincinnati,13.00 - 15.00 $ /hour,Experienced (Non-Manager)
649,Chicago,19.00 - 22.00 $ /hour,Accounting/Finance/Insurance
650,Cincinnati,"16.00 - 19.00 $ /hourfull benefits, company ve...",Entry Level
651,Newport,12.00 - 12.00 $ /hour,Entry Level
652,Newport,11.50 - 12.00 $ /hour,Entry Level
653,Cincinnati,15.00 - 18.00 $ /hourBenefits and Overtime,Experienced (Non-Manager)
654,Chicago,35.00 - 35.00 $ /hour,Accounting/Finance/Insurance
655,Cincinnati,17.00 - 18.50 $ /hourpotential commissions wit...,Experienced (Non-Manager)
656,Chicago,16.00 - 20.00 $ /hour,Accounting/Finance/Insurance
657,Cincinnati,13.00 - 15.00 $ /hour,Customer Support/Client Care
658,Chicago,21.00 - 25.00 $ /hour,Accounting/Finance/Insurance
659,Cincinnati,15.00 - 18.00 $ /hourOvertime and Benefits,Experienced (Non-Manager)
660,Chicago,18.00 - 20.00 $ /hour,Accounting/Finance/Insurance
661,Cincinnati,22.00 - 25.00 $ /hour,Accounting/Finance/Insurance
662,Cincinnati,14.00 - 15.00 $ /hour,Experienced (Non-Manager)
663,Cincinnati,14.00 - 16.00 $ /hour,Quality Assurance/Safety
664,Covington,15.00 - 16.00 $ /hour,Experienced (Non-Manager)
665,Cincinnati,11.75 - 12.75 $ /hourMedical/Dental,Entry Level
666,Cincinnati,23.25 - 25.21 $ /hour,Engineering
667,Chicago,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
668,Chicago,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
669,Chicago,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
670,Cincinnati,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
671,Cincinnati,50.00 - 55.00 $ /hour,IT/Software Development
672,Chicago,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance

In [113]:
#second_hour.to_csv('hour.csv')

手动删除奇怪的东西

In [116]:
data_hour = pd.read_csv('hour.csv',usecols=[0,1,2])
data_hour

,location,salary,sector
0,Houston,9.00 - 13.00 $ /hour,Entry Level
1,Denver,13.75 - 16.75 $ /hourYear End Bonus,Experienced (Non-Manager)
2,Clutch City,50.00 - 65.00 $ /hour,Experienced (Non-Manager)
3,Willoughby Hills,17.00 - 22.00 $ /hour,Experienced (Non-Manager)
4,Telecommute,45.00 - 50.00 $ /hour,Experienced (Non-Manager)
5,Margate,12.00 - 12.00 $ /hour,Customer Support/Client Care
6,Denver,60.00 - 82.00 $ /hour,IT/Software Development
7,Anaheim,15.00 - 19.00 $ /hour,Administrative/Clerical
8,Eden Prairie,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance
9,Minneapolis,17.00 - 17.00 $ /hour,Business/Strategic Management
10,Las Vegas,19.00 - 19.00 $ /hour,Experienced (Non-Manager)
11,Irvine,40.00 - 40.00 $ /hour,Experienced (Non-Manager)
12,San Diego,0.00 - 20.00 $ /hour,Accounting/Finance/Insurance
13,Boston,16.00 - 23.00 $ /hour,Accounting/Finance/Insurance
14,Grand Rapids,15.00 - 18.00 $ /hour,Accounting/Finance/Insurance
15,Grand Rapids,20.00 - 26.00 $ /hour,Accounting/Finance/Insurance
16,Cherry Hill,12.00 - 14.00 $ /hour,Experienced (Non-Manager)
17,Orlando,11.85 - 11.85 $ /hour,Security/Protective Services
18,Newark,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
19,New York,30.93 - 30.93 $ /hour,Security/Protective Services
20,N Springfld,15.00 - 17.00 $ /hour,Security/Protective Services
21,Columbia,20.00 - 23.00 $ /hour,Security/Protective Services
22,Saint Petersburg,0.00 - 12.25 $ /hourPlus benefits,Experienced (Non-Manager)
23,Dallas,55.00 - 65.00 $ /hour,IT/Software Development
24,Parma,11.00 - 11.00 $ /hourBenefits Package,Entry Level
25,Palm Bay,11.00 - 13.00 $ /hour,Security/Protective Services
26,Port Canaveral,13.00 - 13.00 $ /hour,Security/Protective Services
27,Dallas,12.00 - 15.00 $ /hour,Experienced (Non-Manager)
28,Dallas,13.00 - 13.00 $ /hour,Administrative/Clerical
29,Newark,14.00 - 14.00 $ /hour,Experienced (Non-Manager)
...,...,...,...
615,Chicago,20.00 - 25.00 $ /hour,Accounting/Finance/Insurance
616,Cherry Grove,12.50 - 13.00 $ /hour,Manufacturing/Production/Operations
617,Cincinnati,"18.00 - 25.00 $ /hourHealth, Dental, Vision, 4...",Entry Level
618,Chicago,22.00 - 26.00 $ /hour,Accounting/Finance/Insurance
619,Chicago,20.00 - 30.00 $ /hour,Accounting/Finance/Insurance
620,Cincinnati,13.00 - 15.00 $ /hour,Experienced (Non-Manager)
621,Chicago,19.00 - 22.00 $ /hour,Accounting/Finance/Insurance
622,Cincinnati,"16.00 - 19.00 $ /hourfull benefits, company ve...",Entry Level
623,Newport,12.00 - 12.00 $ /hour,Entry Level
624,Newport,11.50 - 12.00 $ /hour,Entry Level
625,Cincinnati,15.00 - 18.00 $ /hourBenefits and Overtime,Experienced (Non-Manager)
626,Chicago,35.00 - 35.00 $ /hour,Accounting/Finance/Insurance
627,Cincinnati,17.00 - 18.50 $ /hourpotential commissions wit...,Experienced (Non-Manager)
628,Chicago,16.00 - 20.00 $ /hour,Accounting/Finance/Insurance
629,Cincinnati,13.00 - 15.00 $ /hour,Customer Support/Client Care
630,Chicago,21.00 - 25.00 $ /hour,Accounting/Finance/Insurance
631,Cincinnati,15.00 - 18.00 $ /hourOvertime and Benefits,Experienced (Non-Manager)
632,Chicago,18.00 - 20.00 $ /hour,Accounting/Finance/Insurance
633,Cincinnati,22.00 - 25.00 $ /hour,Accounting/Finance/Insurance
634,Cincinnati,14.00 - 15.00 $ /hour,Experienced (Non-Manager)
635,Cincinnati,14.00 - 16.00 $ /hour,Quality Assurance/Safety
636,Covington,15.00 - 16.00 $ /hour,Experienced (Non-Manager)
637,Cincinnati,11.75 - 12.75 $ /hourMedical/Dental,Entry Level
638,Cincinnati,23.25 - 25.21 $ /hour,Engineering
639,Chicago,18.00 - 22.00 $ /hour,Accounting/Finance/Insurance
640,Chicago,75.00 - 85.00 $ /hour,Experienced (Non-Manager)
641,Chicago,17.00 - 21.00 $ /hour,Accounting/Finance/Insurance
642,Cincinnati,20.00 - 22.00 $ /hour,Experienced (Non-Manager)
643,Cincinnati,50.00 - 55.00 $ /hour,IT/Software Development
644,Chicago,30.00 - 35.00 $ /hour,Accounting/Finance/Insurance

In [121]:
pattern = '[/][h,o,u,r]'
first.s10 = []
first.s11 = []
first.s12 = []
for n in range(0,644):
    kk=data_hour.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s10.append(kk[0])
        
        front = kk[1].split('$')[0].split('-')[0].strip()
        back = kk[1].split('$')[0].split('-')[1].strip()
        salary1 = (float(front)+float(back))/2
        salary1 = salary1 * 2080.590238365494
        
        
        first.s11.append(salary1)
        first.s12.append(kk[2])
third_hour = pd.DataFrame({'location': first.s10,
                      'salary': first.s11,
                      'sector': first.s12    
})
third_hour

             location         salary                               sector
0             Houston   22886.492622                          Entry Level
1              Denver   31729.001135            Experienced (Non-Manager)
2         Clutch City  119633.938706            Experienced (Non-Manager)
3    Willoughby Hills   40571.509648            Experienced (Non-Manager)
4         Telecommute   98828.036322            Experienced (Non-Manager)
5             Margate   24967.082860         Customer Support/Client Care
6              Denver  147721.906924              IT/Software Development
7             Anaheim   35370.034052              Administrative/Clerical
8        Eden Prairie   37450.624291         Accounting/Finance/Insurance
9         Minneapolis   35370.034052        Business/Strategic Management
10          Las Vegas   39531.214529            Experienced (Non-Manager)
11             Irvine   83223.609535            Experienced (Non-Manager)
12          San Diego   20805.902384         Accounting/Finance/Insurance
13             Boston   40571.509648         Accounting/Finance/Insurance
14       Grand Rapids   34329.738933         Accounting/Finance/Insurance
15       Grand Rapids   47853.575482         Accounting/Finance/Insurance
16        Cherry Hill   27047.673099            Experienced (Non-Manager)
17            Orlando   24654.994325         Security/Protective Services
18             Newark   29128.263337            Experienced (Non-Manager)
19           New York   64352.656073         Security/Protective Services
20        N Springfld   33289.443814         Security/Protective Services
21           Columbia   44732.690125         Security/Protective Services
22   Saint Petersburg   12743.615210            Experienced (Non-Manager)
23             Dallas  124835.414302              IT/Software Development
24              Parma   22886.492622                          Entry Level
25           Palm Bay   24967.082860         Security/Protective Services
26     Port Canaveral   27047.673099         Security/Protective Services
27             Dallas   28087.968218            Experienced (Non-Manager)
28             Dallas   27047.673099              Administrative/Clerical
29             Newark   29128.263337            Experienced (Non-Manager)
..                ...            ...                                  ...
614        Cincinnati   22886.492622                          Entry Level
615           Chicago   46813.280363         Accounting/Finance/Insurance
616      Cherry Grove   26527.525539  Manufacturing/Production/Operations
617        Cincinnati   44732.690125                          Entry Level
618           Chicago   49934.165721         Accounting/Finance/Insurance
619           Chicago   52014.755959         Accounting/Finance/Insurance
620        Cincinnati   29128.263337            Experienced (Non-Manager)
621           Chicago   42652.099886         Accounting/Finance/Insurance
622        Cincinnati   36410.329171                          Entry Level
623           Newport   24967.082860                          Entry Level
624           Newport   24446.935301                          Entry Level
625        Cincinnati   34329.738933            Experienced (Non-Manager)
626           Chicago   72820.658343         Accounting/Finance/Insurance
627        Cincinnati   36930.476731            Experienced (Non-Manager)
628           Chicago   37450.624291         Accounting/Finance/Insurance
629        Cincinnati   29128.263337         Customer Support/Client Care
630           Chicago   47853.575482         Accounting/Finance/Insurance
631        Cincinnati   34329.738933            Experienced (Non-Manager)
632           Chicago   39531.214529         Accounting/Finance/Insurance
633        Cincinnati   48893.870602         Accounting/Finance/Insurance
634        Cincinnati   30168.558456            Experienced (Non-Manager)
635        Cincinnati   31208.853575             Quality Assurance/Safety
636         Covington   32249.148695            Experienced (Non-Manager)
637        Cincinnati   25487.230420                          Entry Level
638        Cincinnati   50412.701476                          Engineering
639           Chicago   41611.804767         Accounting/Finance/Insurance
640           Chicago  166447.219069            Experienced (Non-Manager)
641           Chicago   39531.214529         Accounting/Finance/Insurance
642        Cincinnati   43692.395006            Experienced (Non-Manager)
643        Cincinnati  109230.987514              IT/Software Development

[644 rows x 3 columns]

In [129]:
pattern = '[/][y,e,a,r]'
#second = []
first.s7 = []
first.s8 = []
first.s9 = []
for n in range(0,1993):
    kk=second_1.iloc[n,0:3]
    regex = kk.str.contains(pattern)
    if regex[1] == True:
        first.s7.append(kk[0])
        check = kk[1].replace(',','')
        front = check.split('$')[0].split('-')[0].strip()
        back = check.split('$')[0].split('-')[1].strip()
        salary2 = (float(front)+float(back))/2
        #first.s8.append(kk[1])
        first.s8.append(salary2)
        first.s9.append(kk[2])
second_year = pd.DataFrame({'location': first.s7,
                      'salary': first.s8,
                      'sector': first.s9    
})
second_year

,location,salary,sector
0,Houston,87500.0,Building Construction/Skilled Trades
1,Carter Lake,66000.0,Experienced (Non-Manager)
2,Sr. Process Engineer,85000.0,Engineering
3,Aurora,87500.0,Experienced (Non-Manager)
4,RF System Technician,70000.0,Engineering
5,Charleston,61500.0,Experienced (Non-Manager)
6,Houston,72500.0,Manager (Manager/Supervisor of Staff)
7,Ocean,45000.0,Experienced (Non-Manager)
8,Bethlehem,40000.0,Experienced (Non-Manager)
9,Denver,32000.0,Experienced (Non-Manager)
10,Sacramento,110000.0,Experienced (Non-Manager)
11,Denver,60000.0,Manager (Manager/Supervisor of Staff)
12,Houston,102500.0,Experienced (Non-Manager)
13,Englewood,42500.0,Experienced (Non-Manager)
14,Houston,85000.0,Building Construction/Skilled Trades
15,Houston,75000.0,Building Construction/Skilled Trades
16,Denver,77500.0,Accounting/Finance/Insurance
17,Denver,125000.0,Accounting/Finance/Insurance
18,Packaging Engineer,85000.0,Engineering
19,Clifton,14.5,Administrative/Clerical
20,Bojangles’ is expanding and opening new locati...,41000.0,Food Services/Hospitality
21,Las Vegas,92500.0,Accounting/Finance/Insurance
22,Las Vegas,75000.0,Accounting/Finance/Insurance
23,Las Vegas,55000.0,Accounting/Finance/Insurance
24,Homestead,10.5,Food Services/Hospitality
25,Boston,45000.0,Accounting/Finance/Insurance
26,Camden,42500.0,Sales/Retail/Business Development
27,Centennial,50000.0,Building Construction/Skilled Trades
28,Dallas,115000.0,Medical/Health
29,Aurora,60000.0,Experienced (Non-Manager)
...,...,...,...
1264,Cincinnati,75.0,Experienced (Non-Manager)
1265,Cincinnati,60000.0,Experienced (Non-Manager)
1266,Cincinnati,47500.0,Experienced (Non-Manager)
1267,Cincinnati,42500.0,Accounting/Finance/Insurance
1268,Chicago,82500.0,Manager (Manager/Supervisor of Staff)
1269,Chicago,47500.0,Entry Level
1270,Chicago,150000.0,Experienced (Non-Manager)
1271,Chicago,62500.0,Experienced (Non-Manager)
1272,GHA Technologies,90000.0,Sales/Retail/Business Development
1273,Cincinnati,30000.0,Manager (Manager/Supervisor of Staff)
1274,Cincinnati,56500.0,Manufacturing/Production/Operations
1275,Cincinnati,67500.0,Experienced (Non-Manager)
1276,Cincinnati,90000.0,Manager (Manager/Supervisor of Staff)
1277,Chicago,130000.0,Experienced (Non-Manager)
1278,Cincinnati,50000.0,Experienced (Non-Manager)
1279,Cincinnati,57500.0,Experienced (Non-Manager)
1280,Chicago,85000.0,Experienced (Non-Manager)
1281,Cincinnati,72500.0,Manager (Manager/Supervisor of Staff)
1282,Mason,47500.0,Entry Level
1283,Cincinnati,27500.0,Manager (Manager/Supervisor of Staff)
1284,Cincinnati,18000.0,Entry Level
1285,Cincinnati,35000.0,Entry Level
1286,Cincinnati,85000.0,IT/Software Development
1287,Cincinnati,28000.0,Experienced (Non-Manager)
1288,Cincinnati,57500.0,Experienced (Non-Manager)
1289,Chicago,87500.0,Accounting/Finance/Insurance
1290,West Chester,80000.0,Manager (Manager/Supervisor of Staff)
1291,Cincinnati,75000.0,Experienced (Non-Manager)
1292,Cincinnati,41000.0,Experienced (Non-Manager)
1293,Chicago,75000.0,Accounting/Finance/Insurance

In [140]:
first.s12=[]
first.s13=[]
first.s14=[]
for n in range(0,643):
    if kk[1] > 1000:
        kk=third_hour.iloc[n,0:3]
        first.s12.append(kk[0])
        first.s13.append(kk[1])
        first.s14.append(kk[2])
    
for n in range(0,1293):
    gg=second_year.iloc[n,0:3]
    if gg[1] > 1000:
        first.s12.append(gg[0])
        first.s13.append(gg[1])
        first.s14.append(gg[2])
    
first_chart = pd.DataFrame({'location': first.s12,
                      'salary': first.s13,
                      'sector': first.s14    
})
first_chart

              location         salary                                 sector
0              Houston   22886.492622                            Entry Level
1               Denver   31729.001135              Experienced (Non-Manager)
2          Clutch City  119633.938706              Experienced (Non-Manager)
3     Willoughby Hills   40571.509648              Experienced (Non-Manager)
4          Telecommute   98828.036322              Experienced (Non-Manager)
5              Margate   24967.082860           Customer Support/Client Care
6               Denver  147721.906924                IT/Software Development
7              Anaheim   35370.034052                Administrative/Clerical
8         Eden Prairie   37450.624291           Accounting/Finance/Insurance
9          Minneapolis   35370.034052          Business/Strategic Management
10           Las Vegas   39531.214529              Experienced (Non-Manager)
11              Irvine   83223.609535              Experienced (Non-Manager)
12           San Diego   20805.902384           Accounting/Finance/Insurance
13              Boston   40571.509648           Accounting/Finance/Insurance
14        Grand Rapids   34329.738933           Accounting/Finance/Insurance
15        Grand Rapids   47853.575482           Accounting/Finance/Insurance
16         Cherry Hill   27047.673099              Experienced (Non-Manager)
17             Orlando   24654.994325           Security/Protective Services
18              Newark   29128.263337              Experienced (Non-Manager)
19            New York   64352.656073           Security/Protective Services
20         N Springfld   33289.443814           Security/Protective Services
21            Columbia   44732.690125           Security/Protective Services
22    Saint Petersburg   12743.615210              Experienced (Non-Manager)
23              Dallas  124835.414302                IT/Software Development
24               Parma   22886.492622                            Entry Level
25            Palm Bay   24967.082860           Security/Protective Services
26      Port Canaveral   27047.673099           Security/Protective Services
27              Dallas   28087.968218              Experienced (Non-Manager)
28              Dallas   27047.673099                Administrative/Clerical
29              Newark   29128.263337              Experienced (Non-Manager)
...                ...            ...                                    ...
1852        Cincinnati   30000.000000                            Entry Level
1853        Cincinnati   32000.000000                            Entry Level
1854        Cincinnati   60000.000000              Experienced (Non-Manager)
1855        Cincinnati   47500.000000              Experienced (Non-Manager)
1856        Cincinnati   42500.000000           Accounting/Finance/Insurance
1857           Chicago   82500.000000  Manager (Manager/Supervisor of Staff)
1858           Chicago   47500.000000                            Entry Level
1859           Chicago  150000.000000              Experienced (Non-Manager)
1860           Chicago   62500.000000              Experienced (Non-Manager)
1861  GHA Technologies   90000.000000      Sales/Retail/Business Development
1862        Cincinnati   30000.000000  Manager (Manager/Supervisor of Staff)
1863        Cincinnati   56500.000000    Manufacturing/Production/Operations
1864        Cincinnati   67500.000000              Experienced (Non-Manager)
1865        Cincinnati   90000.000000  Manager (Manager/Supervisor of Staff)
1866           Chicago  130000.000000              Experienced (Non-Manager)
1867        Cincinnati   50000.000000              Experienced (Non-Manager)
1868        Cincinnati   57500.000000              Experienced (Non-Manager)
1869           Chicago   85000.000000              Experienced (Non-Manager)
1870        Cincinnati   72500.000000  Manager (Manager/Supervisor of Staff)
1871             Mason   47500.000000                            Entry Level
1872        Cincinnati   27500.000000  Manager (Manager/Supervisor of Staff)
1873        Cincinnati   18000.000000                            Entry Level
1874        Cincinnati   35000.000000                            Entry Level
1875        Cincinnati   85000.000000                IT/Software Development
1876        Cincinnati   28000.000000              Experienced (Non-Manager)
1877        Cincinnati   57500.000000              Experienced (Non-Manager)
1878           Chicago   87500.000000           Accounting/Finance/Insurance
1879      West Chester   80000.000000  Manager (Manager/Supervisor of Staff)
1880        Cincinnati   75000.000000              Experienced (Non-Manager)
1881        Cincinnati   41000.000000              Experienced (Non-Manager)

[1882 rows x 3 columns]

In [142]:
first_chart.to_csv('city_salary_sector.csv')

In [143]:
counts = first_chart['sector'].value_counts()
print (counts)

Experienced (Non-Manager)                                                                            583
Manager (Manager/Supervisor of Staff)                                                                268
Accounting/Finance/Insurance                                                                         222
Entry Level                                                                                          153
Sales/Retail/Business Development                                                                    108
IT/Software Development                                                                               76
Manufacturing/Production/Operations                                                                   51
Quality Assurance/Safety                                                                              46
Food Services/Hospitality                                                                             41
Medical/Health                                                                                        39
Building Construction/Skilled Trades                                                                  29
Installation/Maintenance/Repair                                                                       28
Human Resources                                                                                       26
Project/Program Management                                                                            25
Administrative/Clerical                                                                               21
Customer Support/Client Care                                                                          21
Legal                                                                                                 19
Executive (SVP, VP, Department Head, etc)                                                             18
Engineering                                                                                           16
Biotech/R&D/Science                                                                                   12
Logistics/Transportation                                                                              11
Student (High School)                                                                                 10
Security/Protective Services                                                                           9
Marketing/Product                                                                                      9
Student (Undergraduate/Graduate)                                                                       6
Business/Strategic Management                                                                          6
Insurance Agent/BrokerGeneral/Other: Sales/Business DevelopmentFinancial Products Sales/Brokerage      5
Other                                                                                                  3
Career Level Entry Level                                                                               2
Systems Analysis - IT                                                                                  2
Career Level Experienced (Non-Manager)                                                                 2
General/Other: Food Services                                                                           2
Editorial/Writing                                                                                      1
General/Other: Medical/HealthVeterinary/Animal Care                                                    1
Education Level Associate Degree                                                                       1
Desktop Service and Support                                                                            1
IT Project ManagementGeneral/Other: Project/Program ManagementProject Management                       1
Banking/Real Estate/Mortgage Professionals                                                             1
Veterinary/Animal Care                                                                                 1
Database Development/Administration                                                                    1
General/Other: IT/Software Development                                                                 1
Software Quality Assurance                                                                             1
General/Other: Accounting/Finance                                                                      1
Account Management (Commissioned)Insurance Agent/BrokerFinancial Products Sales/Brokerage              1
Systems Analysis - ITWeb/UI/UX Design                                                                  1
Name: sector, dtype: int64